*.yml.*
*.yml
*.log

*.py[cod]
*.swp
*.swo
*.swn
*.swm
.idea
.noseids
cover
node_modules
uwsgi.log
uwsgi.pid

# tmp saves
*~

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.ropeproject
.sass-cache
tags
celerybeat-schedule
