# Global Configuration Information
# =======================================================================
# The postgresql database connection configuration
SQLALCHEMY_DATABASE_URI: postgresql://simplecoin:testing@localhost:5432/simplecoin
# the session encryption key
SECRET_KEY: 'somethting_really_secret'

# Mode configurations
# ------------------------------------------------------------------------
# Put flask webserver into DEBUG mode.
#DEBUG: False

# set this to true and celery will only run scheduled tasks to refresh cache
# objects. This allows you to run a staging version on the same database,
# but with separate caches
#stage: False

# Cache configuration
# ------------------------------------------------------------------------
# The cache database that redis will use
redis_conn:
    db: 15
    host: 'localhost'
    port: 6379
    password: 
main_cache:
    CACHE_REDIS_DB: 15
    CACHE_REDIS_PORT: 6379
    CACHE_REDIS_HOST: localhost
    CACHE_REDIS_PASSWORD: 
    CACHE_KEY_PREFIX: 
    CACHE_REDIS_URL: 

# Misc Global
# -----------------------------------------------------------------------
# The currency that invalid mining will go to if the mined currency has no
# specified pool_payout_addr. This _must_ be exchangeable and define a
# pool_payout_addr.
pool_payout_currency: BTC
# The signature that the simplecoin_rpc_client will use fetch payouts and push
# completed payout information. Needs to be kept secure!
rpc_signature: "keep_this_very_secret"

# Logging
# -----------------------------------------------------------------------
# where all webserver exceptions and logging messages will get put
#webserver_log_file: webserver.log
# all management commands will be logged here
#manage_log_file: manage.log
# all management commands will be logged here
#scheduler_log_file: 

exchange_manager:
    cryptsy:
        public_key: 
        private_key: 
    bittrex:
        public_key: 
        private_key: 
    poloniex:
        public_key: 
        private_key: 

# Sharechain Configuration
# =======================================================================
chains:
    defaults:
        valid_address_versions: [111]
    1:
        title: Multi
        donate_address:
        algo: scrypt
        type: pplns
        last_n: 2
        fee_perc: "0.02"
    2:
        title: LTC/Doge
        donate_address:
        algo: scrypt
        type: prop
        fee_perc: "0.02"
    3:
        title: Vert
        donate_address:
        algo: nscrypt
        type: pplns
        last_n: 2
        fee_perc: "0.02"

# Information on where all our servers are located.
# =======================================================================
# Used to render getting started page
locations:
    CA:
        location_acronym: CA
        location: Beauharnois, Canada
        country_flag: "/img/ca.svg"

# Default values for new miner config
default_stratum_url: stratum+tcp://stratum.simplemulti.com
default_stratum_port: 3363

# Stratum + Powerpool Config
# =======================================================================
mining_servers:
    1:
        address: vert.simplemulti.com
        monitor_address: http://vert_pp_hidiff.simplevert.com/hidiff
        port: 3345
        location: CA
        diff: 512
        chain: 1
    2:
        address: vert.simplemulti.com
        monitor_address: http://vert_pp_vardiff.simplevert.com/vardiff
        location: CA
        port: 3344
        diff: 8-2048
        chain: 1

algos:
    X11:
        hashes_per_share: 4294967296
        normalize_mult: 0.181818182
        display: X11
        enabled: False
    scryptn:
        hashes_per_share: 65536
        normalize_mult: 2.127659574
        display: Scrypt-N
        enabled: False
    scrypt:
        hashes_per_share: 65536
        normalize_mult: 1
        display: Scrypt
        enabled: True

currencies: 
    DRK:
        # The algorithm for the currency
        algo: X11
        # Full name of what to label the merged coin on the site
        name: Darkcoin
        # BTC, LTC, etc..
        currency_name: DRK
        # connection information for the merge coinserver RPC
        coinserv:
            port: 19001
            address: localhost
            username: admin1
            password: 123
        # prefix that is checked for to payout the address
        address_version: [76]
        # required number of transaction confirmations before marking confirmed
        trans_confirmations: 6
        # the expected time for the network to find a block in seconds. used for
        # computing network hashrate
        block_time: 120
        # how many confirmations do we wait before marking blocks mature
        # and allowing payout over RPC
        block_mature_confirms: 2
        # whether or not we currently can exchange this currency. This is
        # used to determine valid user addresses
        exchangeable: True
        # If a pool payout address is specified any pool earnings in that currency
        # are paid out directly. If exchangeable is False a valid address is REQUIRED
        pool_payout_addr:
    URO:
        # The algorithm for the currency
        algo: X11
        # Full name of what to label the merged coin on the site
        name: Urocoin
        # BTC, LTC, etc..
        currency_name: URO
        # connection information for the merge coinserver RPC
        coinserv:
            port: 20001
            address: localhost
            username: admin1
            password: 123
        # prefix that is checked for to payout the address
        address_version: [68]
        # required number of transaction confirmations before marking confirmed
        trans_confirmations: 6
        # the expected time for the network to find a block in seconds. used for
        # computing network hashrate
        block_time: 120
        # how many confirmations do we wait before marking blocks mature
        # and allowing payout over RPC
        block_mature_confirms: 2
        # whether or not we currently can exchange this currency.
        # Used to determine valid user addresses
        exchangeable: True
        # If a pool payout address is specified any pool earnings in that currency
        # are paid out directly. If exchangeable is False a valid address is REQUIRED
        pool_payout_addr:


# Coin/Branding
# =======================================================================
# the colloquial name of the coin
site_title: SimpleMulti
# the FQDN
site_url: http://www.simplemulti.com
coin_name: Multi
# host for static assets e.g. {assets_address}/css/main.css
assets_address: /static
# logo img
logo: "/img/logo.png"
# xs leader img
leader-xs: "/img/doge-miner-xs.jpg"
# sm leader img
leader-sm: "/img/doge-miner-sm.jpg"
# fullsize leader img
leader: "/img/doge-miner.jpg"

# Main Nav Links
# =======================================================================
navbar:
    left_nav:
        - title: Home
          icon: home
          link: /
          active_key: home
        - title: Getting Started
          icon: cog
          link: /configuration_guide
          active_key: config
        - title: User Stats
          icon: user
          link: /stats
          active_key: stats
        - title: Pool Stats
          icon: life-ring
          link: /pool_stats
          active_key: pool_stats
        - title: Leaderboard
          icon: bar-chart-o
          link: /leaderboard
          active_key: leaderboard
        - title: Extras
          icon: star
          link: \#
          active_key: ''
          dropdown:
            - title: Simple Crypto Website
              icon: globe
              link: http://www.simplecryptogroup.com
            - title: Source Code
              icon: github
              link: http://www.github.com/simplecrypto/simplecoin
    right_nav:
        - title: Contact Us
          icon: bullhorn
          link: \#
          active_key: ''
          dropdown:
            - title: Email
              icon: envelope
              link: mailto:simplecryptogroup@gmail.com
            - title: IRC
              icon: comments
              link: https://kiwiirc.com/client/irc.freenode.net/#simplecrypto
            - title: Reddit
              icon: reddit
              link: http://www.reddit.com/r/simplecrypto
            - title: Github
              icon: github
              link: http://www.github.com/simplecrypto/
