# General
# =======================================================================
# Where's powerpool running?
monitor_addr: http://localhost:3855/
# how many confirmations do we wait before marking blocks mature
# and allowing payout over RPC
block_mature_confirms: 250
# the version that will trigger an upgrade notification
latest_ppagent: [0, 3, 4]
# The postgresql database connection configuration
SQLALCHEMY_DATABASE_URI: postgresql://simplecoin:testing@localhost:5432/simplecoin
# the session encryption key
SECRET_KEY: 'somethting_really_secret'

# connection information for the coinserver RPC
coinserv:
    port: 22555
    address: 127.0.0.1
    username: dogecoin
    password: ''
    wallet_pass: ''
    account: simpledoge_pool_address

# email server authentication 
email:
    send_address: 'simpledogepool@gmail.com'
    username: ''
    password: ''
    ehlo: simpledoge.com
    timeout: 10
    server: email-smtp.us-east-1.amazonaws.com
    port: 587
    debug: True
    tls: True

# Celery configuration
# =======================================================================
# Celery configuration options. Since celery is run under a flask context
# then thses are settings for the celery worker.
celery:
    CELERY_ACCEPT_CONTENT: ['pickle', 'json', 'msgpack', 'yaml']
    # the name of the queue you'll recieve tasks from powerpool on. should
    # match the default queue setting in powerpool instances that connect with
    # this task handler
    #CELERY_QUEUES:
    #    doge:
    #        exchange: doge
    #        binding_key: doge
    BROKER_URL: 'amqp://guest:guest@localhost:5672/doge'

# Cache configuration
# ========================================================================
# The cache database that redis will use
#main_cache:
#    CACHE_REDIS_DB: 1

# Payout configurations
# ========================================================================
# Controls how payout database entries are calculated
#
# the multiplier used on the last n shares to keep for counting share
# contributions
last_n: 2
# default donation/bonus percentage applied to payouts if no custom is
# defined
default_perc: 0
# sets to lowest that a user is allowed to set their fee percentage
minimum_perc: -5.0
# address where all donated percents (or fees) will go
donate_address: DAbhwsnEq5TjtBP5j76TinhUqqLTktDAnD
# address where all mining from invalid addresses goes
catchall_address: DAbhwsnEq5TjtBP5j76TinhUqqLTktDAnD
# block find reward. set to zero or comment out to not use. in satoshi
block_bonus: 1000000000000

# RPC Payout configs
# ========================================================================
# These settings control how the remote rpc payout script functions, as opposed
# to payout functionalities on the server
#
# min payout amount in satoshi
minimum_payout: 100000000  # 1 doge (or ltc, or whatever)
# the fee used when sending payouts to the coinserver. IE, to be applied
# to the payout transaction for transmission to the network
payout_fee: 1.0
# key used to sign rpc requests for payout system. Keep this secure
rpc_signature: ''
# where are we expecting the rpc server to be?
rpc_url: http://www.simpledoge.com

# Coin/Branding
# =======================================================================
# the path that will be postfixed with the current git hash in the footer.
# comment out to remove the footer mark
repopath: https://github.com/simplecrypto/simplecoin/commit/
# the block reward. Used to calculate averages, etc
reward: 250000
# the colloquial name of the coin
coin_name: Doge
site_title: Simple Doge
# the unicode symbol for the coin
coin_symbol: "&ETH;"
# host for static assets e.g. {assets_address}/css/main.css
assets_address: http://simpledoge.com/static
# logo img
logo: "/img/dogecoin.png"
# xs leader img
leader-xs: "/img/doge-miner-xs.jpg"
# sm leader img
leader-sm: "/img/doge-miner-sm.jpg"
# fullsize leader img
leader: "/img/doge-miner.jpg"
# this url will have the transaction id appended to it to provide
# information on a specific transaction for a payout
transaction_link_prefix: http://dogechain.info/tx/
# just like above, but with a block
block_link_prefix: http://dogechain.info/block/
# stratum server address
stratum_address: stratum.simpledoge.com
# stratum port
stratum_port: 3333
# link to a good beginner guide
beginner_guide: <a href="http://www.reddit.com/r/dogemining/wiki/index/mining_guide" target="_blank">Reddit</a>
