# Top level requirements
git+https://github.com/simplecrypto/cryptokit.git@v0.2.13#egg=cryptokit
Flask==0.10.1
Flask-Cache==0.12
Flask-Migrate==1.2.0
Flask-SQLAlchemy==1.0
Flask-Script==0.6.6
Flask-Babel==0.9
toml==0.8.2
PyYAML==3.10
gunicorn==19.1.1
lever==0.2.6
redis==2.10.3
six==1.6.1
requests==2.2.1
apscheduler==2.1.2
setproctitle==1.1.8
decorator==3.4.0
ago==0.0.6
tabulate==0.7.2
simplejson==3.6.3

# Dependencies of top level requirements
SQLAlchemy==0.9.1
Jinja2==2.11.3
Werkzeug==0.9.4
alembic==0.6.4
anyjson==0.3.3
argparse==1.2.1
itsdangerous==0.24
psycopg2==2.5.2
urllib3==1.8
wsgiref==0.1.2
