body {
  font-size:15px;
  color: #FAFAFA;
}

body a {
    font-weight:400;
}

.no-padding {
    padding:0px;
}

.btn-default {
  background-color: #3E4853;
}

.text-muted {
  color: #8392A0;
  font-weight:300;
}

h3 {
  margin-top:5px;
}

.nav li a {
  padding: 15px;
}

.panel-default>.panel-heading {
  font-size:16pt;
  font-weight:400;
}

.page-header {
  padding-bottom:50px;
  margin-top:10px;
}

.row-header {
  border-bottom:1px solid #424E5A;
  padding-bottom:40px;
}

.stats {
  padding: 30px 0px 20px 0px;
}

.padding-top {
  padding-top: 20px;
}
.no-padding {
  padding:0;
}
.no-margin-top {
  margin-top:0;
}
.nav-justified > li:first-child > a {
  border-left: 0;
  border-radius: 5px 0 0 5px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-weight: 300;
  font-size:18px;
}

p.guide {
  padding:10px 0px 10px 0px;
}

.well-clear {
  background:none;
  margin-bottom:0px;
}

a.contact {
  color:#FAFAFA;
  text-decoration:none !important;
}

a.contact:hover div {
  background-color:#4e5d6c;
}

/* Stats styling */

#statsform .close {
  float: left;
  padding-right: 10px;
}

/* User stats styling */

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.x.axis path {
{#  display: none;#}
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.line2 {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

.line3 {
  fill: none;
  stroke: purple;
  stroke-width: 1.5px;
}

g.axis {
  fill: white;
}

.legend {
  fill: white;
  padding: 5px;
  font: 10px sans-serif;
  background: yellow;
  box-shadow: 2px 2px 1px #888;
}

.odometer {
    line-height: 18px !important;
    vertical-align: top !important;
}

.too-damn-bright {
    opacity: .80;
}

.worker-table th {
    text-align: center;
}

.worker-table {
    margin-bottom:0px;
}

.worker-stats {
    margin-bottom:0;
}

.worker-table-wrapper {
    position:relative;
    background-color:#243749;
}

.worker-wrapper {
    margin-bottom:0px;
    background-color:#4e5d6c;
    min-height:20px;
    padding:15px;
    width:100%;
}

.collapse-button {
    float:right;
    z-index: 100;
    font-weight: bold;
    position:relative;
    top:-4px;
    left:2px;
    min-width:42px;
}

.pointer {
    cursor: pointer;
}

/*************
Default Theme
*************/

.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
  background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
  background-position: center right;
  background-repeat: no-repeat;
  cursor: pointer;
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
.tablesorter-default thead .sorter-false {
  background-image: none;
  cursor: default;
}

/* table processing indicator */
.tablesorter-default .tablesorter-processing {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  /* background-image: url(../addons/pager/icons/loading.gif) !important; */
  background-image: url('data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=') !important;
}

