body {
  font-size:15px;
  color: #FAFAFA;
}

body a {
    font-weight:400;
}

.no-padding {
    padding:0px;
}

.btn-default {
  background-color: #3E4853;
}

.text-muted {
  color: #8392A0;
  font-weight:300;
}

h3 {
  margin-top:5px;
}

.nav li a {
  padding: 15px;
}

.panel-default>.panel-heading {
  font-size:16pt;
  font-weight:400;
}

.page-header {
  padding-bottom:50px;
  margin-top:10px;
}

.row-header {
  border-bottom:1px solid #424E5A;
  padding-bottom:40px;
}

.stats {
  float:right;
  padding: 30px 0px 20px 0px;
  vertical-align: top !important;
}

.padding-top {
  padding-top: 20px;
}
.no-padding {
  padding:0;
}
.no-margin-top {
  margin-top:0;
}
.nav-justified > li:first-child > a {
  border-left: 0;
  border-radius: 5px 0 0 5px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-weight: 300;
  font-size:18px;
}

p.guide {
  padding:10px 0px 10px 0px;
}

.well-clear {
  background:none;
  margin-bottom:0px;
}

a.contact {
  color:#FAFAFA;
  text-decoration:none !important;
}

a.contact:hover div {
  background-color:#4e5d6c;
}


/* User stats styling */

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.x.axis path {
{#  display: none;#}
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.line2 {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

.line3 {
  fill: none;
  stroke: purple;
  stroke-width: 1.5px;
}

g.axis {
  fill: white;
}

.legend {
  fill: white;
  padding: 5px;
  font: 10px sans-serif;
  background: yellow;
  box-shadow: 2px 2px 1px #888;
}

.odometer {
    line-height: 18px !important;
    vertical-align: top !important;
}

.too-damn-bright {
    opacity: .80;
}

.worker-table th {
    text-align: center;
}

.worker-table {
        margin-bottom:30px;
}

.collapse-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    font-weight: bold;
}