{% extends "base.html" %}
{% block body %}
<h1>Crypto guides</h1>
<br>
<div class="container">
  <h3>Building a strong and inexpensive rig case</h3>
  <p>This guide covers instructions on how to build a chassis for holding mining
  computers using many graphics cards. While it may not be too pretty, it's easy
  to build, and fairly forgiving with measurements and mistakes. Our first version
  (pictured on the right) was done without using any measuring tools (just the parts for mockups) and this guide documents how we built the second version.</p>
  <h3>Supplies required</h3>
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <tr>
          <th>Amount</th>
          <th>Item</th>
          <th>Link</th>
          <th>Cost Total</th>
        </tr>
        <tr>
          <td>3</td>
          <td>1" x 2" x 8' furing strips (skinny wood boards)</td>
          <td><a href="http://www.homedepot.com/p/Unbranded-1-x-2-x-8-Furring-Strip-160954/100075477">Link</a></td>
          <td>$3.51</td>
        </tr>
        <tr>
          <td>4</td>
          <td>3/8" x 24" threaded rod (or cut down a 72" length for savings)</td>
          <td><a href="http://www.homedepot.com/p/Everbilt-3-8-in-16-x-24-in-Zinc-Plated-Threaded-Rod-17180/100337683">Link</a></td>
          <td>$7.88</td>
        </tr>
        <tr>
          <td>2</td>
          <td>25 pack 3/8" nuts</td>
          <td><a href="http://www.homedepot.com/p/Everbilt-3-8-in-16-tpi-Zinc-Plated-Hex-Nut-25-Pieces-08444/202102407">Link</a></td>
          <td>$5.40</td>
        </tr>
        <tr>
          <td>1</td>
          <td>~12 1.25" nails (or 6 screws)</td>
          <td><a href="http://www.homedepot.com/p/Grip-Rite-11-x-1-1-4-in-Electro-Galvanized-Steel-Roofing-Nails-1-lb-Pack-114EGRFG1/202308501">Link</a></td>
          <td>$2.98</td>
        </tr>
        <tr>
          <td>2</td>
          <td>25 pack of washers</td>
          <td><a href="http://www.homedepot.com/p/Everbilt-3-8-in-Zinc-Plated-Flat-Washer-25-Pieces-08054/202048222">Link</a></td>
          <td>$6.28</td>
        </tr>
        <tr>
          <td>2</td>
          <td>2 pack cap nuts (for the feet)</td>
          <td><a href="http://www.homedepot.com/p/Unbranded-3-8-in-16-Zinc-Plated-Cap-Nut-2-Pieces-18781/202704500">Link</a></td>
          <td>$1.96</td>
        </tr>
        <tr>
          <td></td>
          <th>Tax</th>
          <td></td>
          <th>$2.24</th>
        </tr>
        <tr>
          <td></td>
          <th>Total</th>
          <td></td>
          <th>$30.25</th>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <a href="/static/img/chasis/finish.jpg"><img src="/static/img/chasis/thumb/finish.jpg" height="300" /></a>
    </div>
  </div>
  <div class="row text-center">
    <h3><strong><a href="wood_chasis">Read the full guide >></a></strong></h3>
  </div>

</div>
{% endblock %}
