{% extends "base.html" %}
{% set active_page = "guides" %}
{% block body %}
<h1>Crypto guides</h1>
<br>
<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h3>Building a strong and inexpensive rig case</h3>
      <p>This guide covers instructions on how to build a chassis for holding mining
      computers using many graphics cards. While it may not be too pretty, it's easy
      to build, and fairly forgiving with measurements and mistakes. Our first version
      (pictured on the right) was done without using any measuring tools (just the parts for mockups) and this guide documents how we built the second version.</p>
      <h3><strong><a href="wood_chasis">Read the guide &gt;&gt;</a></strong></h3>
    </div>
    <div class="col-md-4">
      <a href="/static/img/chasis/finish.jpg"><img src="/static/img/chasis/thumb/finish.jpg" height="300" /></a>
    </div>
  </div>

<h1>External Resources</h1>
<ul>
  <li><a href="http://www.reddit.com/r/dogemining/wiki/index/mining_guide">Get a wallet and begin mining</a></li>
  <li><a href="http://gpuscanner.com">Compare graphics cards by $/MH or $/Watt with price data from multiple sources</a></li>
  <li><a href="http://www.kaostheory.net/">Great guide on setting up CGMiner and understanding the interface</a></li>
  <li><a href="https://bitcointalk.org/index.php?topic=443540.msg4878774#msg4878774">Preventing Backfeed with multiple
    power supplies</a></li>
  <li><a href="https://bitcointalk.org/index.php?topic=36061.0">Short motherboard pci-e 1x to detect graphics
    force cards</a></li>
  <li><a href="http://rumorscity.com/2013/12/06/how-to-create-dummy-plugs-for-your-graphics-cards/">Create
    dummy plugs to detect graphics cards</a> - Often required for older drivers</li>
</ul>

</div>
{% endblock %}
