{% extends "base.html" %}
{% block body %}
<h1>Crypto guides</h1>
<br>
<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h3>Building a strong and inexpensive rig case</h3>
      <p>This guide covers instructions on how to build a chassis for holding mining
      computers using many graphics cards. While it may not be too pretty, it's easy
      to build, and fairly forgiving with measurements and mistakes. Our first version
      (pictured on the right) was done without using any measuring tools (just the parts for mockups) and this guide documents how we built the second version.</p>
      <h3><strong><a href="wood_chasis">Read the guide &gt;&gt;</a></strong></h3>
    </div>
    <div class="col-md-4">
      <a href="/static/img/chasis/finish.jpg"><img src="/static/img/chasis/thumb/finish.jpg" height="300" /></a>
    </div>
  </div>

</div>
{% endblock %}
