<!-- Notable Features ================================================== -->
<h2>{{ _("Features") }}</h2>
<br>
<div class="row row-header">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body row">
        <div class="col-md-7 text-center no-padding">
          <img src="{{ config['assets_address'] | safe }}/img/worker_status_small2.png" style="box-shadow: -1px -1px 1px #777;margin-top:35px;max-width:98%;">
        </div>
        <div class="col-md-5">
          <h3>{{ _("Monitor your rig's health, from anywhere") }}</h3>
          <p>{{ _("This setup allows you to monitor multiple rigs easily, without setting up a pool manager,
          and view actual data from each of your rigs, rather than approximations.") }}</p>
          <ul>
            <li>{{ _("Quick and easy setup, see the") }}
              <a href="http://www.github.com/simplecrypto/ppagent" target="_blank">{{ _("Installation Guide") }}</a>
            </li>
            <li>{{ _("View stats from rigs remotely - including WUE, Hashrate, Temps, Fan %%, and more") }}</li>
            <li>{{ _("Overheat/Low hashrate status indicators and email notifications") }}</li>
            <li>{{ _("More features coming soon - including graphs of hashrate and temperature") }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body row">
        <div class="col-md-7 text-center no-padding">
          <img src="{{ config['assets_address'] | safe }}/img/graphs.png" style="box-shadow: -1px -1px 1px #777;margin-top:15px;max-width:98%;">
        </div>
        <div class="col-md-5">
          <h3>{{ _("Insightful statistics") }}</h3>
          <p>{{ _("Graphs broken down by worker give you a good at-a-glance picture of what is going on.") }}</p>
          <ul>
            <li>{{ _("Easily name a worker anything you want") }}</li>
            <li>{{ _("Drill down graphs to an individual worker with a click") }}</li>
            <li>{{ _("Tooltips display your hash rate for each worker at a given point") }}</li>
            <li>{{ _("View in 'expanded' mode to see what percentage of your hashing power each of your rigs is") }}</li>
            <li>{{ _("Easily see your overall hash rate") }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>