<!-- Details about how payouts and currency conversion is handled======= -->
<div class="panel panel-default" style="min-height: 250px;">
  <div class="panel-heading">{{ _("Payouts + currency conversion info") }}
  </div>
  <div class="panel-body">
    <p>{{ _("You can mine with any valid address for a currency we pay out in.") }}</p>
    <p>{{ _("Your earnings are (by default) converted to the currency of that address") }}</p>
    <p>{{ _("If you want to keep a specific coin, instead of converting
      it, just add a payout address for it to your account.") }}</p>
  </div>
</div>