<!-- Details about the pool ================================================== -->
<div class="panel panel-default" style="min-height: 250px;margin-bottom:0;">
  <div class="panel-heading">{{ _("Pool Details") }}
  </div>
  <div class="panel-body">
    <ul>
      <li>{{ _("No registration. Use a wallet address as a username") }}</li>
      <li>{{ _("Automatically exchanges mining rewards to the currency of your username address") }}</li>
      <li>{{ _("Seamless merge mining") }}</li>
      <li>{{ _("2%% fee") }}</li>
      <li>{{ _("No payout transaction fees") }}</li>
      <li>{{ _("Miners keep block transaction fees") }}</li>
      <li>{{ _("Currency conversion fees are passed along to miner") }}</li>
      <li>{{ _("Vardiff enabled + manual difficulty selection available") }}</li>
      <li>{{ _("Daily payouts - Very low minimum balance") }}</li>
      <li>{{ _("PROP payout") }}</li>
    </ul>
  </div>
</div>
