    <script>
    $(document).ready(function() {
      $("#blockCreditTable").tablesorter({
        textExtraction: function(node) {
          var attr = $(node).attr('data-sort-value');
          if (typeof attr !== 'undefined' && attr !== false) {
            return attr;
          }
          return $(node).text(); 
        } 
      });
    });
    </script>
    {% if payouts %}
    <div class="col-lg-12">
      <div class="bs-example table-responsive">
        <table class="table table-striped table-hover tablesorter" id="blockCreditTable">
          <thead>
            <tr>
              <th>ID</th>
              <th>Time</th>
              <th>Payout Currency</th>
              <th>Mined</th>
              <th>Donation + Fee Amt (d%/f%)</th>
              <th>Total credited</th>
              <th>Payout Status</th>
              <th>Block details</th>
            </tr>
          </thead>
          <tbody>
            {% for payout in payouts %}
              <tr>
                <td>{{ "{:,}".format(payout.id) }}</td>
                <td>{{ payout.block.found_at | human_date_utc }}</td>
                <td>{{ payout.block.currency }}</td>
                <td title="{{ payout.mined }}">{{ payout.mined | sig_round(2) }} {{ payout.block.currency }}</td>
                <td data-sort-value="{{ payout.cut_perc }}">{{ payout.text_perc_applied }} {{ payout.block.currency }} ({{ '{:,}'.format(payout.hr_pd_perc) }}%/{{ '{:,}'.format(payout.hr_fee_perc) }}%)</td>
                <td title="{{ payout.amount }}">{{ payout.amount | sig_round(2) }} {{ payout.block.currency }}</td>
                <td>{{ payout.status }}</td>
                <td><a href="/block/{{ payout.block.hash }}"># {{ '{:,}'.format(payout.block.height) }}</a></td>
              </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
    {% else %}
    <div class="text-center"><h3>No payouts for this user yet</h3></div>
    {% endif %}
