<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Simple Doge</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/superhero/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/main.css?revision={{ config['hash'] }}">
  <link rel="stylesheet" href="/static/css/nv.d3.css?revision={{ config['hash'] }}">
  <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.2/d3.min.js"></script>
  <script src="/static/js/nv.d3.min.js"></script>
  <script src="/static/js/graph.js?revision={{ config['hash'] }}"></Script>
  <script src="/static/js/bootstrap.min.js"></Script>
  <script>
    $(document).ready(function() {
      var shares, ten_min_hashrate, seconds, khashpersec, shares_per_sec, luck,
          round_time_left, shares_to_solve;

      {# Grab new pool stats #}
      shares = {{ g.pool_stats[0] }};
      seconds = {{ g.pool_stats[1] }};
      shares_to_solve = {{ g.current_difficulty }} * Math.pow(2, 16);
      shares_to_solve = shares_to_solve * 2;
      ten_min_hashrate = Math.pow(2, 16) * {{ g.pool_stats[3] }};
      khashpersec = (ten_min_hashrate / 600) / 1000;
      shares_per_sec = (shares / seconds);
      round_time_left = (shares_to_solve/shares_per_sec)/2;

      function n(n){
          return n > 9 || n < -9 ? "" + n: "0" + n;
      }

      seconds = Math.round(seconds);

      setInterval(set_content = function(){

        seconds += 1;
        additional_shares = shares_per_sec * seconds
        shares_remaining = (shares_to_solve/2) - Math.round(additional_shares);
        y = seconds%60
        minutes = n(Math.floor(seconds/60)%60);
        hours = n(Math.floor(seconds/3600));

        remaining_time = Math.abs(round_time_left - seconds);

        remaining_seconds = Math.floor(remaining_time%60);
        remaining_minutes = n(Math.floor(remaining_time/60)%60);
        remaining_hours = n(Math.floor(remaining_time/3600));

        {# show a negative sign if we passed the expected solve time #}
        if (round_time_left - seconds < 0) {
          remaining_hours = "-" + remaining_hours
        }

        luck = (shares_to_solve / additional_shares) * 1000;
        if (luck > 99999) {
          luck = 99999;
        }

        $('.odometer.shares').text(numberWithCommas(Math.round(additional_shares)));
        $('.odometer.blockshares').text(numberWithCommas(Math.round(additional_shares)));

        $('.minutes').text(minutes);
        $('.seconds').text(n(y));
        $('.hours').text(hours);

        // for pool stats page
        $('.est_remaining_minutes').text(remaining_minutes);
        $('.est_remaining_seconds').text(n(remaining_seconds));
        $('.est_remaining_hours').text(remaining_hours);

        $('.odometer.hashes').text(numberWithCommas(Math.round(khashpersec/100)/10));
        $('.odometer.phashrate').text(numberWithCommas(Math.round(khashpersec/100)/10));
        $('.odometer.luck').text(numberWithCommas(Math.round(luck) / 10));
        $('.odometer.blockluck').text(numberWithCommas(Math.round(luck) / 10));
        $('.odometer.remaining_shares').text(numberWithCommas(Math.round(shares_remaining)));

      },1000);

      set_content();

      {# pass the alert close action to the server to add it to the session #}
      $('.alert').bind('closed.bs.alert', function () {
          var id = $(this).attr('data-alert-id');
          $.get('close/'+id);
      });

    });
  </script>
</head>
<body>
  <div class="container">
    <div class="row">
        <div class="col-md-5">
          <h1 style="font-size:51px;">
            <a style=" text-decoration: none;" href="/">
              <img src="/static/img/dogecoin.png" width="64" style="padding-bottom: 5px;">
              Simple Doge
            </a>
          </h1>
        </div>
        <div class="col-md-7 no-padding">
          <h5 class="stats">
            <div class="col-sm-4">
              <strong data-toggle="tooltip" data-placement="right"
                title="Total hashrate for the pool, represented in Megahashes per second">Pool&nbsp;Hashrate
              </strong>:&nbsp;<span class="odometer hashes">...</span> MH/sec
              <br>
              <strong data-placement="right"
                title="Total active clients mining on Simple Doge">
                Active&nbsp;Workers</strong>:&nbsp;{{ g.worker_count }}
            </div>
            <div class="col-sm-4">
              <strong data-placement="right"
                title="Total time since the last block was solved">Round&nbsp;Time
              </strong>:&nbsp;
              <span class="hours">00</span>:<span class="minutes">00</span>:<span class="seconds">00</span>
              <br>
              <strong data-placement="right"
                title="Estimated time remaining until the next block is found. It assumes round luck will be 100% and that difficulty will not change.">
                Est.&nbsp;Time&nbsp;Left</strong>:&nbsp;<span class="est_remaining_hours">00</span>:<span class="est_remaining_minutes">00</span>:<span class="est_remaining_seconds">00</span>
            </div>
            <div class="col-sm-4">
              <strong data-placement="right"
                title="Total 1 difficulty shares submitted since the last block was solved">Round&nbsp;Shares
              </strong>:&nbsp;<span class="odometer shares">...</span>
              <br>
              <strong data-placement="right"
                title="Calculated from (shares expected to solve a block)/(shares currently submitted). This results in a percentage that decreases the unluckier the pool is in finding a block. Additionally, the expected number of shares to solve a block is dependent upon the current difficulty, and so large spikes or drops in difficulty often result in strange jumps in round luck">
                Round&nbsp;Luck</strong>:&nbsp;<span class="odometer luck">...</span>%
            </div>
          </h5>
        </div>
    </div>
    <div class="row">
      <div class="navbar navbar-default">
        <div class="navbar-collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li{% if active_page == "home" %} class="active"{% endif %}><a href="/"><i class="fa fa-home too-damn-bright"></i> &nbsp;Home</a></li>
          </ul>
          <ul class="nav navbar-nav hidden-xs hidden-sm hidden-md">
            <li{% if active_page == "news" %} class="active"{% endif %}><a href="/news"><i class="fa fa-globe too-damn-bright"></i> &nbsp;News</a></li>
            <li><a href="https://kiwiirc.com/client/irc.freenode.net/#simpledoge" target="_blank"><i class="fa fa-comments too-damn-bright"></i> &nbsp;IRC</a></li>
            <li class="{% if active_page == "pool_stats" %} active{% endif %}"><a href="/pool_stats"><i class="fa fa-bar-chart-o too-damn-bright"></i> &nbsp;Pool Stats</a></li>
            <li class="{% if active_page == "stats" %} active{% endif %}"><a href="/stats"><i class="fa fa-user too-damn-bright"></i> &nbsp;User Stats</a></li>
            <li class="{% if active_page == "round_summary" %} active{% endif %}"><a href="/round_summary"><i class="fa fa-flag too-damn-bright"></i> &nbsp;Round Summary</a></li>
            <li{% if active_page == "guides" %} class="active"{% endif %}><a href="/guides/"><i class="fa fa-book too-damn-bright"></i> &nbsp;Guides</a></li>
            <li{% if active_page == "charity" %} class="active"{% endif %}><a href="/charity"><i class="fa fa-gift too-damn-bright"></i> &nbsp;Charity</a></li>
          </ul>
          <ul class="nav navbar-nav hidden-lg">
            <li class="dropdown{% if active_page == "stats" or active_page == "pool_stats" or active_page == "round_summary" %} active{% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bar-chart-o too-damn-bright"></i> &nbsp;Stats <b class="caret"></b></a>
              <ul class="dropdown-menu pull-left" style="width:100%;">
                <li><a href="/pool_stats"><i class="fa fa-dashboard too-damn-bright"></i> &nbsp;Pool Stats</a></li>
                <li><a href="/stats"><i class="fa fa-user too-damn-bright"></i> &nbsp;User Stats</a></li>
                <li><a href="/round_summary"><i class="fa fa-flag too-damn-bright"></i> &nbsp;Round Summary</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-star too-damn-bright"></i> &nbsp;Extras <b class="caret"></b></a>
              <ul class="dropdown-menu pull-left" style="width:100%;">
                <li{% if active_page == "news" %} class="active"{% endif %}><a href="/news"><i class="fa fa-globe too-damn-bright"></i> &nbsp;News</a></li>
                <li{% if active_page == "guides" %} class="active"{% endif %}><a href="/guides/"><i class="fa fa-book too-damn-bright"></i> &nbsp;Guides</a></li>
                <li{% if active_page == "charity" %} class="active"{% endif %}><a href="/charity"><i class="fa fa-gift too-damn-bright"></i> &nbsp;Charity</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bullhorn too-damn-bright"></i> &nbsp;Contact Us <b class="caret"></b></a>
              <ul class="dropdown-menu pull-left" style="width:100%;">
                <li><a href="https://kiwiirc.com/client/irc.freenode.net/#simpledoge" target="_blank"><i class="fa fa-comments too-damn-bright"></i> &nbsp;IRC</a></li>
                <li><a href="mailto:simpledogepool@gmail.com" class="contact"><i class="fa fa-envelope too-damn-bright"></i> &nbsp;Email</a></a></li>
                <li><a href="http://www.reddit.com/r/simpledoge" target="_blank" style="position:relative;left:-5px;"><img alt="Reddit" src="/static/img/reddit.png" class="too-damn-bright" width="18" height="18"> &nbsp;Reddit</a></li>
                <li><a href="http://www.reddit.com/r/simpledoge" target="_blank"><i class="fa fa-github too-damn-bright"></i> &nbsp;Github</a></li>
              </ul>
            </li>

          </ul>
        </div>
      </div>
    </div>

  <!-- Alerts ================================================== -->
  {% if g.alerts  %}
    {% for alert in g.alerts %}
    {# Check to see if the alert has been dismissed by the user #}
    {% if not alert['key'] in session['dismissed_alerts'] %}
    <div data-alert-id={{ alert['key'] }} class="alert alert-dismissable alert-{{ alert['severity'] }}">
      <button type="button" class="close" data-dismiss="alert" >×</button>
      <h4>{{ alert['title']|safe }} -
        <span class="text-muted small" style="color:#fff;">
          {{ alert['date'] }}
        </span>
      </h4>
      <p>{{ alert['body']|safe }}</p>
    </div>
    {% endif %}
    {% endfor %}
  {% endif %}

  {% block body %}

  {% endblock %}
  {% block footer %}
  <div class="row" style="padding-top:30px;padding-bottom:20px;">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <br>Email us feature requests or bugs at <a href="emailto:simpledogepool@gmail.com">simpledogepool@gmail.com</a> or to <a href="http://reddit.com/u/bitbumper/">bitbumper</a> on Reddit.
      <br>
      <small>
        Running revision <a href="https://github.com/ericecook/simpledoge/commit/{{ config['hash'] }}">{{ config['hash'] }}</a>
        released on {{ config['revdate'] }}.
        <br>
        Donate to the devs: DOGE <a href="dogecoin:DRhevw3qkAjmAjyNkSyXh2kxvrXuxktmyD">DRhevw3qkAjmAjyNkSyXh2kxvrXuxktmyD</a>
        <br>
        Check out a helper library for building your own pool on <a href="https://github.com/icook/cryptokit">Github</a>.</small>
    </div>
  </div>
  {% endblock %}
  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48385002-1', 'simpledoge.com');
    ga('send', 'pageview');
  </script>
</body>
</html>
