<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="og:image" content="{{ config['assets_address'] | safe }}{{ config['leader-xs'] | safe }}">
  <title>Simple {{ config['coin_name'] | safe }}{% if page_title %} - {{ page_title }}{% endif %}</title>
  <meta name="description" content="A custom mining pool with no registration and a focus on developing new tools for miners">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <link rel="stylesheet" href="{{ config['assets_address'] | safe }}/css/font-awesome-4.1.0.min.css">
  <link rel="stylesheet" href="{{ config['assets_address'] | safe }}/css/bootstrap-superhero-3.2.min.css">
  <link rel="stylesheet" href="{{ config['assets_address'] | safe }}/css/main.css?revision={{ config['hash'] }}">
  <link rel="stylesheet" href="{{ config['assets_address'] | safe }}/css/nv.d3.css?revision={{ config['hash'] }}">
  <script src="{{ config['assets_address'] | safe }}/js/jquery-2.1.0.min.js"></script>
  <script>window.jQuery || document.write('<script src="//code.jquery.com/jquery-2.1.0.min.js"><\/script>')</script>
  <script src="{{ config['assets_address'] | safe }}/js/d3-3.4.2.min.js"></script>
  <script src="{{ config['assets_address'] | safe }}/js/ZeroClipboard-1.3.3.min.js"></script>
  <script src="{{ config['assets_address'] | safe }}/js/utils.js"></script>
  <script src="{{ config['assets_address'] | safe }}/js/nv.d3.min.js"></script>
  <script src="{{ config['assets_address'] | safe }}/js/graph.js?revision={{ config['hash'] }}"></Script>
  <script src="{{ config['assets_address'] | safe }}/js/bootstrap.min.js"></Script>
  <script src="{{ config['assets_address'] | safe }}/js/jquery.tablesorter.min.js"></Script>
</head>
<body>
  <div class="container">
    <div class="row">
        <div class="col-md-5 no-padding">
          <h1 style="font-size:51px;">
            <a style=" text-decoration:none;" href="/">
              <div>
                <img src="{{ config['assets_address'] | safe }}{{ config['logo'] | safe }}" style="padding-bottom: 5px;float:left;width:64px;">
                <p>&nbsp;Simple&nbsp;{{ config['coin_name'] | safe }}</p>
              </div>
            </a>
          </h1>
        </div>
        <div class="col-md-7 no-padding">
          <h5 class="stats">
            {% for algo in g.algos %}
              <div class="col-sm-4">
                <strong data-toggle="tooltip" data-placement="right"
                  title="Total hashrate for the pool, represented in Megahashes per second">&nbsp;{{ g.algos[algo].display }}&nbsp;Hashrate
                </strong>:&nbsp;{{ g.hashrates[algo] }} MH/s
                <br>
                <strong data-placement="right"
                  title="Total active clients mining on Simple {{ config['coin_name'] | safe }}">
                  &nbsp;Active&nbsp;Workers</strong>:&nbsp;{{ g.worker_count[algo] }}
              </div>
            {% endfor %}
          </h5>
        </div>
    </div>
    <div class="row">
      <div class="bs-component">
        <div class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse navbar-responsive-collapse">
          {% for nav in config['navbar'] %}
            <ul class="nav navbar-nav{% if nav == 'right_nav' %} navbar-right{% endif %}">
              {% for nl in config['navbar'][nav] %}
                {% if nl.dropdown %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-{{ nl.icon }} too-damn-bright"></i> &nbsp;{{ nl.title }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      {% for l in nl.dropdown %}
                      <li><a href="{{ l.link }}"><i class="fa fa-{{ l.icon }} too-damn-bright"></i> &nbsp;{{ l.title }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li{% if active_page == nl.active_key %} class="active"{% endif %}>
                    <a href="{{ nl.link }}"><i class="fa fa-{{ nl.icon }} too-damn-bright"></i> &nbsp;{{ nl.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endfor %}
          </div>
        </div>
      <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
      </div>
    </div>

  <!-- Alerts ================================================== -->
  {% if g.alerts  %}
    {% for alert in g.alerts %}
    {# Check to see if the alert has been dismissed by the user #}
    {% if not alert['key'] in session['dismissed_alerts'] and alert['notify'] == 'all' %}
    <div data-alert-id={{ alert['key'] }} class="alert alert-dismissable alert-{{ alert['severity'] }}">
      <button type="button" class="close" data-dismiss="alert" >×</button>
      <h4>{{ alert['title']|safe }} -
        <span class="text-muted small" style="color:#fff;">
          {{ alert['date'] }}
        </span>
      </h4>
      <p>{{ alert['body']|safe }}</p>
    </div>
    {% endif %}
    {% endfor %}
  {% endif %}

  {% block body %}

  {% endblock %}
  {% block footer %}
  <div class="row" style="padding-top:30px;padding-bottom:20px;">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <small>BTC Donate: <a href="bitcoin:185cYTmEaTtKmBZc8aSGCr9v2VCDLqQHgR">
        185cYTmEaTtKmBZc8aSGCr9v2VCDLqQHgR</a></small>
    </div>
  </div>
  {% endblock %}
  </div>
</body>
</html>
