<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="og:image" content="{{ config['assets_address'] | safe }}{{ config['leader-xs'] | safe }}">
  <title>Simple {{ config['coin_name'] | safe }}{% if page_title %} - {{ page_title }}{% endif %}</title>
  <meta name="description" content="A custom mining pool with no registration and a focus on developing new tools for miners">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <link rel="stylesheet" href="{{ config['assets_address'] | safe }}/css/font-awesome-4.1.0.min.css">
  <link rel="stylesheet" href="{{ config['assets_address'] | safe }}/css/bootstrap-superhero.min.css">
  <link rel="stylesheet" href="{{ config['assets_address'] | safe }}/css/main.css?revision={{ config['hash'] }}">
  <link rel="stylesheet" href="{{ config['assets_address'] | safe }}/css/nv.d3.css?revision={{ config['hash'] }}">
  <script src="{{ config['assets_address'] | safe }}/js/jquery-2.1.0.min.js"></script>
  <script>window.jQuery || document.write('<script src="//code.jquery.com/jquery-2.1.0.min.js"><\/script>')</script>
  <script src="{{ config['assets_address'] | safe }}/js/d3-3.4.2.min.js"></script>
  <script src="{{ config['assets_address'] | safe }}/js/ZeroClipboard-1.3.3.min.js"></script>
  <script src="{{ config['assets_address'] | safe }}/js/utils.js"></script>
  <script src="{{ config['assets_address'] | safe }}/js/nv.d3.min.js"></script>
  <script src="{{ config['assets_address'] | safe }}/js/graph.js?revision={{ config['hash'] }}"></Script>
  <script src="{{ config['assets_address'] | safe }}/js/bootstrap.min.js"></Script>
  <script src="{{ config['assets_address'] | safe }}/js/jquery.tablesorter.min.js"></Script>
</head>
<body>
  <div class="container">
    <div class="row">
        <div class="col-md-5 no-padding">
          <h1 style="font-size:51px;">
            <a style=" text-decoration:none;" href="/">
              <div>
                <img src="{{ config['assets_address'] | safe }}{{ config['logo'] | safe }}" style="padding-bottom: 5px;float:left;width:64px;">
                <p>&nbsp;Simple&nbsp;{{ config['coin_name'] | safe }}</p>
              </div>
            </a>
          </h1>
        </div>
        <div class="col-md-7 no-padding">
          <h5 class="stats">
            {% for algo in g.worker_count %}
              <div class="col-sm-4">
                <h5 style="margin:2px; padding:0px;"><i>{{ algo }}</i></h5>
                <strong data-toggle="tooltip" data-placement="right"
                  title="Total hashrate for the pool, represented in Megahashes per second">&nbsp;Pool&nbsp;Hashrate
                </strong>:&nbsp;{{ g.worker_count[algo] }} MH/s
                <br>
                <strong data-placement="right"
                  title="Total active clients mining on Simple {{ config['coin_name'] | safe }}">
                  &nbsp;Active&nbsp;Workers</strong>:&nbsp;{{ g.worker_count[algo] }}
              </div>
            {% endfor %}
          </h5>
        </div>
    </div>
    <div class="row">
      <div class="navbar navbar-default">
        <div class="navbar-collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li{% if active_page == "home" %} class="active"{% endif %}><a href="/"><i class="fa fa-home too-damn-bright"></i> &nbsp;Home</a></li>
          </ul>
          <ul class="nav navbar-nav hidden-xs hidden-sm hidden-md">
            <li{% if active_page == "news" %} class="active"{% endif %}><a href="/news"><i class="fa fa-microphone too-damn-bright"></i> &nbsp;News</a></li>
            {% set chat_url = config.get('chat_url', '') %}
            {% if chat_url != '' %}
            <li><a href="{{ chat_url | safe }}" target="_blank"><i class="fa fa-comments too-damn-bright"></i> &nbsp;Chat</a></li>
            {% endif %}
            <li class="{% if active_page == "pool_stats" %} active{% endif %}"><a href="/pool_stats"><i class="fa fa-bar-chart-o too-damn-bright"></i> &nbsp;Pool Stats</a></li>
            <li class="{% if active_page == "stats" %} active{% endif %}"><a href="/stats"><i class="fa fa-user too-damn-bright"></i> &nbsp;User Stats</a></li>
            <li class="{% if active_page == "network_stats" %} active{% endif %}"><a href="/network_stats"><i class="fa fa-globe too-damn-bright"></i> &nbsp;Network Stats</a></li>
            <li class="{% if active_page == "round_summary" %} active{% endif %}"><a href="/round_summary"><i class="fa fa-flag too-damn-bright"></i> &nbsp;Round Summary</a></li>
            <li{% if active_page == "guides" %} class="active"{% endif %}><a href="/guides/"><i class="fa fa-book too-damn-bright"></i> &nbsp;Guides</a></li>
          </ul>
          <ul class="nav navbar-nav hidden-lg">
            <li class="dropdown{% if active_page == "stats" or active_page == "pool_stats" or active_page == "round_summary" %} active{% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bar-chart-o too-damn-bright"></i> &nbsp;Stats <b class="caret"></b></a>
              <ul class="dropdown-menu" style="width:100%;">
                <li><a href="/pool_stats"><i class="fa fa-dashboard too-damn-bright"></i> &nbsp;Pool Stats</a></li>
                <li><a href="/stats"><i class="fa fa-user too-damn-bright"></i> &nbsp;User Stats</a></li>
                <li><a href="/network_stats"><i class="fa fa-globe too-damn-bright"></i> &nbsp;Network Stats</a></li>
                <li><a href="/round_summary"><i class="fa fa-flag too-damn-bright"></i> &nbsp;Round Summary</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-star too-damn-bright"></i> &nbsp;Extras <b class="caret"></b></a>
              <ul class="dropdown-menu" style="width:100%;">
                <li{% if active_page == "news" %} class="active"{% endif %}><a href="/news"><i class="fa fa-microphone too-damn-bright"></i> &nbsp;News</a></li>
                <li{% if active_page == "guides" %} class="active"{% endif %}><a href="/guides/"><i class="fa fa-book too-damn-bright"></i> &nbsp;Guides</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

  <!-- Alerts ================================================== -->
  {% if g.alerts  %}
    {% for alert in g.alerts %}
    {# Check to see if the alert has been dismissed by the user #}
    {% if not alert['key'] in session['dismissed_alerts'] and alert['notify'] == 'all' %}
    <div data-alert-id={{ alert['key'] }} class="alert alert-dismissable alert-{{ alert['severity'] }}">
      <button type="button" class="close" data-dismiss="alert" >×</button>
      <h4>{{ alert['title']|safe }} -
        <span class="text-muted small" style="color:#fff;">
          {{ alert['date'] }}
        </span>
      </h4>
      <p>{{ alert['body']|safe }}</p>
    </div>
    {% endif %}
    {% endfor %}
  {% endif %}

  {% block body %}

  {% endblock %}
  {% block footer %}
  <div class="row" style="padding-top:30px;padding-bottom:20px;">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <br>
      <small>
        Donate to the devs:
        DOGE <a href="dogecoin:DAbhwsnEq5TjtBP5j76TinhUqqLTktDAnD">DAbhwsnEq5TjtBP5j76TinhUqqLTktDAnD</a><br>
        BTC <a href="bitcoin:185cYTmEaTtKmBZc8aSGCr9v2VCDLqQHgR">185cYTmEaTtKmBZc8aSGCr9v2VCDLqQHgR</a><br>
        VTC <a href="vertcoin:VkbHY8ua2TjxdL7gY2uMfCz3TxMzMPgmRR">VkbHY8ua2TjxdL7gY2uMfCz3TxMzMPgmRR</a>
    </div>
  </div>
  {% endblock %}
  </div>
</body>
</html>
