<script>
$(document).ready(function() {
  $("#blockTable").tablesorter({
    textExtraction: function(node) {
      var attr = $(node).attr('data-sort-value');
      if (typeof attr !== 'undefined' && attr !== false) {
        return attr;
      }
      return $(node).text(); 
    } 
  });
});
</script>
<div class="col-lg-12">
  <div class="bs-example table-responsive">
    <table class="table table-striped table-hover tablesorter" id="blockTable">
      <thead>
        <tr>
          <th>Age</th>
          <th>Currency</th>
          <th>Algorithm</th>
          <th>Shares</th>
          <th>Luck</th>
          <th>Round Duration</th>
          <th>Payout</th>
          <th>Difficulty</th>
          <th>Solved by</th>
          <th>Block Hash</th>
          <th>Blockheight</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      {% for block in blocks %}
      <tr>
        <td data-sort-value="{{ block.timestamp }}">{{ block.found_at | human_date_utc }}</td>
        <td>{{ block.currency }}</td>
        <td>{{ block.algo }}</td>
        <td>{{ '{:,}'.format(block.hr_shares_to_solve or 1) }}</td>
        <td>{{ '{:,}'.format((block.luck or 0) | round(2)) }} %</td>
        <td data-sort-value="{{ block.duration.total_seconds() }}">{{ block.duration }}</td>
        <td>{{ '{:,}'.format(block.total_value_float | round(2)) }}</td>
        <td>{{ '{:,}'.format(block.difficulty | round(4)) }}</td>
        <td><a href="/stats/{{ block.user }}">{{ block.user | truncate(9, True) }}</a></td>
        <td>{{ block.hash | truncate(9, True) }}</td>
        <td>{{ '{:,}'.format(block.height) }}</td>
        <td>{{ block.status }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
