{% extends "base.html" %}
{% set active_page = "pool_stats" %}
{% set page_title = "Block List - Historical list of solved blocks" %}
{% block body %}

<br />
{% if currency_data %}
<br />
<h2><i class="fa fa-cube"></i> &nbsp; {{ currency.name }} {{ _("Block Stats") }}</h2>
<div class="table-responsive">
  <table class="table table-striped table-hover tablesorter">
    <thead>
      <tr>
        <th>{{ _("Time Period") }}</th>
        <th>{{ _("Orphan Percentage") }}</th>
        <th>{{ _("Low Diff Eff") }}</th>
        <th>{{ _("Dup Eff") }}</th>
        <th>{{ _("Hashrate") }}</th>
        <th>{{ _("Shares") }}</th>
      </tr>
    </thead>
    <tbody>
    {% for period, (orphan_perc, tracker) in currency_data.iteritems() %}
    <tr>
      <th>{{ period }}</th>
      <td>{{ orphan_perc | comma }}%</td>
      <td>{{ tracker.low_efficiency | comma }}%</td>
      <td>{{ tracker.dup_efficiency | comma }}%</td>
      <td>{{ tracker.hashrate() | hashrate }}</td>
      <td>{{ tracker.accepted | comma }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% include "block_table.html" %}
<ul class="pager">
  <li class="previous {% if not page %}disabled{% endif %}"><a href="?page={{ page - 1 }}">&larr; {{ _("Newer") }}</a></li>
  <li class="next"><a href="?page={{ page + 1 }}">{{ _("Older") }} &rarr;</a></li>
</ul>
{% endblock %}
