<div class="bs-example table-responsive">
  <table class="table table-striped table-hover tablesorter" id="blockTable">
    <thead>
      <tr>
        <th>Time Period</th>
        <th>Luck Percentage</th>
        <th>Effective Return</th>
        <th>Orphan Percentage</th>
        <th>Pool Efficiency</th>
      </tr>
    </thead>
    <tbody>
      {% for title, (pool_luck, effective_return, orphan_perc), (pool_eff) in data %}
      <tr>
        <th>{{ title }}</th>
        <th>{{ (pool_luck * 100) | round(2) }}%</th>
        <th>{{ "{:,.4f}".format(effective_return) }}&nbsp;{{ config['coin_symbol'] | safe }}/MH/Day</th>
        <th>{{ orphan_perc | sig_round(2) }}%</th>
        <th>{{ pool_eff | round(2) }}%</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
