{% extends "base.html" %}
{% set active_page = "faq" %}
{% set page_title = "FAQ - Cryptocurrency principles explained in plain english" %}
{% block body %}
<div class="panel-group" id="accordion">
  {% for title, body in faq.iteritems() %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}">
          {{ title | safe }}
        </a>
      </h4>
    </div>
    <div id="collapse{{ loop.index }}" class="panel-collapse collapse">
      <div class="panel-body">{{ body | safe }}</div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
