{% extends "base.html" %}
{% set active_page = "home" %}
{% set page_title = "Home - A custom mining pool with no registration" %}
{% block body %}
<script>
$(document).ready(function() {
  //  Action stats form based on input val
    $('#statsform').submit(function(){
      var address = $('#inputAddress').val();
      $(this).attr('action', "/" + address);
    });
});
</script>

<!-- Img ================================================== -->

<div class="row">
  <div class="col-lg-5">
    <div class="text-center">
      <img class=" hidden-xs" src="{{ config['leader'] | safe }}" width="450">
      <img class="hidden-sm hidden-md hidden-lg" src="{{ config['leader-sm'] | safe }}" width="275">
    </div>
    <div class="well well-lg well-clear">
      <h3>New to Cryptocurrency?</h3>
    Check out a detailed step-by-step guide on {{ config['beginner_guide']|safe }},
    or look at some of our <a href="/guides/">guides</a>.
    </div>
  </div>

<!-- Quick start ================================================== -->

  <div class="col-lg-7">
    <div class="well well-lg" style="padding-right:30px;">
      <h3>Quick start for mining:</h3>
      <h4><b>No registration required, payouts go to the address used as username.</b></h4>
      <ol>
          <li>Configure your stratum client with the information below. Worker name can be anything you'd like:
            <small>
              <pre><b>URL: </b>stratum+tcp://{{ config['stratum_address'] }}
<b>Port:</b> {{ config['stratum_port'] }}
<b>Username: </b>[Your wallet address].[Worker Name]
<b>Password: </b>anything
<b>cgminer example:</b> ./cgminer -o stratum+tcp://{{ config['stratum_address'] }}:{{ config['stratum_port'] }} -u {{ config['catchall_address'] }}.worker1 -p x -I 13</pre>
            </small>
          </li>
          <li>Check your stats and estimated payout by entering your {{ config['coin_name'] }} address below:</li>
          <div class="form-group">
            <form class="bs-example form-horizontal" id="statsform">
              <fieldset>
                <div class="form-group">
                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="inputAddress" placeholder="{{ config['coin_name'] }} Address">
                    <span class="help-block">
                        Paste your {{ config['coin_name'] }} address for quick access to individualized stats.
                        {% if 'recent_users' in session %}
                          <h4>Recently Visited Stats:</h4>
                          {% for address in session['recent_users'][:2] %}
                          <h5><a href="/{{ address }}">{{ address }}</a></h5>
                          {% endfor %}
                        {% endif %}
                    </span>
                  </div>
                  <button type="submit" class="btn btn-default">View Stats</button>
                </div>
              </fieldset>
            </form>
          </div>
          <li>Setup advanced stats to track GPU temps and actual hashrate with
            <a href="https://github.com/icook/ppagent">Powerpool Agent</a>
          </li>
        </ol>
    </div>
  </div>
</div>

<!-- Value points ================================================== -->

<div class="row">
  <div class="col-md-4">
    <div class="well well-lg" style="height: 180px;">
      <h3><i class="fa fa-times too-damn-bright"></i> &nbsp;No registration</h3>
      Unlike most pools, we don't require, or even provide, registration. Simply connect to our stratum servers with your wallet address. 
    </div>
  </div>
  <div class="col-md-4">
    <div class="well well-lg" style="height: 180px;">
      <h3><i class="fa fa-lock too-damn-bright"></i> &nbsp;Secure</h3>
      No registration means your credentials can't become compromised, because
      you don't have any! All pool funds are kept off server for increased
      security.
    </div>
  </div>
  <div class="col-md-4">
    <div class="well well-lg" style="height: 180px;">
      <h3><i class="fa fa-clock-o too-damn-bright"></i> &nbsp;No minimum Payout</h3>
      Payouts are processed every time a block is solved. No minimum balance required. Payouts are computed using PPLNS with a 0% fee.
      The default donation amount is 1%, lowerable to 0%
    </div>
  </div>
</div>

<!-- Cool Features ================================================== -->

<h2>Features</h2>
<br>
<div class="row row-header">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body row">
        <div class="col-md-7 text-center no-padding">
          <img src="/static/img/worker_status_small2.png" style="box-shadow: -1px -1px 1px #777;margin-top:35px;max-width:98%;">
        </div>
        <div class="col-md-5">
          <h3>Monitor your rig's health, from anywhere</h3>
          <p>This setup allows you to monitor multiple rigs easily, without setting up a pool manager,
          and view actual data from each of your rigs, rather than approximations.</p>
          <ul>
            <li>Quick and easy setup, see the
              <a href="http://www.github.com/icook/ppagent" target="_blank">Installation Guide</a>
            </li>
            <li>View stats from rigs remotely - including WUE, Hashrate, Temps, Fan %, and more</li>
            <li>Overheat/Low hashrate status indicators and email notifications</li>
            <li>More features coming soon - including graphs of hashrate and temperature</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body row">
        <div class="col-md-7 text-center no-padding">
          <img src="/static/img/graphs.png" style="box-shadow: -1px -1px 1px #777;margin-top:15px;max-width:98%;">
        </div>
        <div class="col-md-5">
          <h3>Insightful statistics</h3>
          <p>Graphs broken down by worker give you a good at-a-glance picture of what is going on.</p>
          <ul>
            <li>Easily name a worker anything you want</li>
            <li>Drill down graphs to an individual worker with a click</li>
            <li>Tooltips display your hash rate for each worker at a given point</li>
            <li>View in 'expanded' mode to see what percentage of your hashing power each of your rigs is</li>
            <li>Easily see your overall hash rate</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- News/Announcements ================================================== -->
<h2>News</h2>
<div class="row row-header">
  <div class="col-lg-12">
    {% for new in news[:3] %}
    <div class="panel panel-default">
      <div class="panel-heading">{{ new['title']|safe }}
        <span class="text-muted pull-right">{{ new['date']|safe }}</span>
      </div>
      <div class="panel-body">
        <p>{{ new['body']|safe }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
