{% extends "base.html" %}
{% block body %}
<div class="container">


  <!-- Get started
  ================================================== -->

    <div class="row page-header">
      <div class="col-lg-6">
        <div>
          <h2>New to Cryptocurrency?</h2>
          <p><a href="http://www.reddit.com/r/dogemining/wiki/index/mining_guide">Reddit</a>
          has a detailed step-by-step guide.</p>
          <br>
          <p>In your miner set your dogecoin address as the username</p>
          <p>Use stratum+tcp://stratum.simpledoge.com Port:3333</p>


        </div>
      </div>

      <div class="col-lg-6">
        <div class="well well-lg">
          <h3>Configs for common miners</h3>
          <p>cgminer -o stratum+tcp://stratum.simpledoge.com Port: 3333 -u YourAddress -p x -I 9 </p>
          <p>bfgminer -o stratum+tcp://stratum.simpledoge.com Port: 3333 -O YourAddress </p>
        </div>
      </div>

    </div>


  <!-- About
  ================================================== -->

  <!-- Get started
  ================================================== -->

  <div class="">
    <div class="col-lg-12">
      <div>
        <h2>About Simple Doge</h2>
        <p>No registration</p>
        <p>1% Fees</p>
        <p>We run on a custom rolled python pool server, donate to support our devs - DOGE: </p>
      </div>
    </div>

  </div>


</div>
{% endblock %}
