{% extends "base.html" %}
{% set active_page = "network_stats" %}
{% set page_title = "Network Stats - Difficulty and Network Hashrate graphs for " ~ config['coin_name'] ~ "coin mining pool" %}
{% block body %}
<script>
$(document).ready(function() {
  {# Initial graph generation #}
  generate_network_graph('netdifficulty-chart', 'hour', '%H:%M %p', 'netdiff', 0);
  generate_network_graph('nethashrate-chart', 'hour', '%H:%M %p', 'netdiff', {{ block_time }});
});
</script>

<div class="row page-header">
  <h2 style="word-wrap:break-word;">{{ config['coin_name'] }} Network Stats</h2>
  <br>
  {% include "network_header.html" %}
  {% for curr, stats in merged.iteritems() %}
    <h2>{{ curr }} Network Stats</h2>
    <br>
    {% set avg_difficulty = stats['avg_difficulty'] %}
    {% set difficulty = stats['difficulty'] %}
    {% set hashrate = stats['hashrate'] %}
    {% set blockheight = stats['blockheight'] %}
    {% include "network_header.html" %}
  {% endfor %}
</div>

<div class="row row-header">
  <div class="alert alert-info"><b>Note: </b> There is a bug in the way network difficulty is shown at times it will be much spikier than it should (higher usually). This is a known bug and is in line to be fixed soon.</div>
  <div class="col-lg-12">
    <h2>{{ config['coin_name'] }} Network Difficulty</h2>
    <br>
      <ul class="nav nav-tabs">
        <li class="active tab"><a id="hour" data-target="hour" data-format="%M:%S" data-html-target="netdifficulty-chart"
             data-graph-type="netdiff" data-net-block-time="0">Hour</a></li>
        <li class="tab"><a id="day" data-target="day" data-format="%H:%M %p" data-html-target="netdifficulty-chart"
            data-graph-type="netdiff" data-net-block-time="0">Day</a></li>
        <li class="tab"><a id="month" data-target="month" data-format="%m/%d %H:%M" data-html-target="netdifficulty-chart"
            data-graph-type="netdiff" data-net-block-time="0">Month</a></li>
      </ul>
    <div id="netdifficulty-chart" style="height:400px;">
      <img src="{{ config['assets_address'] | safe }}/img/712.GIF" style="position:absolute;padding-top:150px;padding-left:400px;"><svg></svg>
    </div>
  </div>
</div>
<div class="row row-header">
  <div class="col-lg-12">
    <h2>{{ config['coin_name'] }} Network Hashrate</h2>
    <br>
      <ul class="nav nav-tabs">
        <li class="active tab"><a id="hour" data-target="hour" data-format="%M:%S" data-html-target="nethashrate-chart"
            data-graph-type="netdiff" data-net-block-time="{{ block_time }}">Hour</a></li>
        <li class="tab"><a id="day" data-target="day" data-format="%H:%M %p" data-html-target="nethashrate-chart"
            data-graph-type="netdiff" data-net-block-time="{{ block_time }}">Day</a></li>
        <li class="tab"><a id="month" data-target="month" data-format="%m/%d %H:%M" data-html-target="nethashrate-chart"
            data-graph-type="netdiff" data-net-block-time="{{ block_time }}">Month</a></li>
      </ul>
    <div id="nethashrate-chart" style="height:400px;">
      <img src="{{ config['assets_address'] | safe }}/img/712.GIF" style="position:absolute;padding-top:150px;padding-left:400px;"><svg></svg>
    </div>
  </div>
</div>
{% endblock %}
