{% extends "base.html" %}
{% set active_page = "pool_stats" %}
{% set page_title = "Pool Stats - Efficiency and block information for Simple " ~ config['coin_name'] ~ " mining pool" %}
{% block body %}
<script>
$(document).ready(function() {
  {# Initial graph generation #}
  generate_graph('hour', '%H:%M %p', 'pool');
  var stats;
  $("#toggleHidden").click(function (){
    console.log("clicked");
    if ($("#detailedStats").html()) {
      $("#detailedStats").html('');
      $(".collapse-button").html('[ + ]');
    } else {
      if (stats == undefined) {
        $("#detailedStats").html("<img src='{{ config['assets_address'] | safe }}/img/712.GIF' style='margin-left: auto; margin-right:auto; display:block; padding:35px;'>");
        $.ajax({
          url: "/extra_pool_stats",
        }).done(function(data) {
          stats = data;
          $(".collapse-button").html('[ - ]');
          $("#detailedStats").html(stats);
        });
      } else {
        $(".collapse-button").html('[ - ]');
        $("#detailedStats").html(stats);
      }
    }
  });
});
</script>

<div class="row page-header">
  <h2 style="word-wrap:break-word;">Pool Stats</h2>
  <br>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <small>Active&nbsp;Workers</small>&nbsp;
        <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                     title="Total workers currently mining on this pool. Updated every couple minutes."></i>
        <br>
        <h4>
          <p><span>{{ g.worker_count }}</span></p>
        </h4>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <small>Average&nbsp;Hashrate</small>&nbsp;
        <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                     title="Megahashes per second completed by the pool. An average of the last 10 minutes."></i>
        <br>
        <h4>
          <p><span class="odometer phashrate">...</span>&nbsp;MHashes/sec</p>
        </h4>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <small>Pool Efficiency</small>&nbsp;
        <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                     title="Last 30 days efficiency for shares at least 25 hours old. Accepted / Total = {{ accept_total }} / ({{ reject_total }} + {{ accept_total }}). Updated hourly."></i>
        <br>
        <h4>
          <p><span>{{ efficiency | round(2) }}%</span></p>
        </h4>
      </div>
    </div>
  </div>
</div>

<div class="row row-header">
  <div class="col-lg-12">
    <h2>Pool Hashrate</h2>
    <br>
      <ul class="nav nav-tabs">
        <li class="active tab"><a id="hour" data-target="hour" data-format="%M:%S" data-user="pool">Hour</a></li>
        <li class="tab"><a id="day" data-target="day" data-format="%H:%M %p" data-user="pool">Day</a></li>
        <li class="tab"><a id="month" data-target="month" data-format="%m/%d %H:%M" data-user="pool">Month</a></li>
      </ul>
    <div id="chart" style="height:400px;">
      <img src="{{ config['assets_address'] | safe }}/img/712.GIF" style="position:absolute;padding-top:150px;padding-left:400px;"><svg></svg>
    </div>
  </div>
</div>

{% if server_status %}
<br />
<div class="row page-header">
  <h2><i class="fa fa-cog"></i> &nbsp; Stratum Status</h2>
  <div class="col-lg-12">
    <div class="bs-example table-responsive">
      <table class="table table-striped table-hover tablesorter" id="blockTable">
        <thead>
          <tr>
            <th>Server</th>
            <th>Hashrate (last hour)</th>
            <th>Workers</th>
          </tr>
        </thead>
        <tbody>
        {% for data in server_status %}
        <tr>
          <th>{{ data['name'] }}</th>
          <th>{{ "{:,.2f}".format(data['hashrate'] / 1000000) }} MH/s</th>
          <th>{{ "{:,}".format(data['workers']) }}</th>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endif %}

<br />
<div class="row page-header">
  <h2>Block Statistics</h2>
  <br>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <small>Pool&nbsp;Luck</small>&nbsp;
        <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                     title="Last 30 days luck for the pool. Over time this will approach 100%. Lower numbers are worse, higher numbers are better"></i>
        <br>
        <h4>
          <p><span>{{ (pool_luck*100)| round(2) }}%</span></p>
        </h4>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <small>Current&nbsp;Effective&nbsp;Return</small>
        <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                     title="Expected return per Megahash per day, based on last 30 days pool luck, the average difficulty for the last 500 blocks, and removes the percentage of orphaned blocks."></i>
        <br>
        <h4>
          <p><span>{{ effective_return | round(2) }}&nbsp;{{ config['coin_symbol'] | safe }}/MH/Day</span></p>
        </h4>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <small>Orphan&nbsp;Percentage</small>
        <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                     title="Last 30 days percentage of blocks that are orphaned"></i>
        <br>
        <h4>
          <p><span>{{ orphan_perc | round(2) }}%</span></p>
        </h4>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="panel panel-default pointer" id="toggleHidden" style="background-color:#243749;">
    <div class="panel-body" style="padding: 0px;">
      <div class="btn btn-default pull-right btn-sm collapse-button">[ + ]</div>
      <h4 style="padding: 10px;">Detailed Stats</h4>
      <div id="detailedStats"></div>
    </div>
  </div>
</div>
<h2>Mined {{ config['coin_name'] }} Blocks</h2>
{% include "block_table.html" %}
<a href="/blocks">View all blocks</a>
{% for curr, name, block_list in merged_blocks %}
  {% set current_block = none %}
  {% set blocks = block_list %}
  <h2>Merge Mined {{ name }} Blocks</h2>
  {% include "block_table.html" %}
  <a href="/blocks/{{ curr }}">View all {{ name }} blocks</a>
{% endfor %}
{% endblock %}
