{% extends "base.html" %}
{% set active_page = "round_summary" %}
{% set page_title = "Round Summary - Information regarding the current round on Simple " ~ config['coin_name'] %}
{% block body %}
<script>
$(document).ready(function() {
    $("#roundSummary").tablesorter();
});
</script>

<div class="row page-header">
  <h2 style="word-wrap:break-word;">Current Round Stats</h2>
  <br>
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <small>Blockheight</small>
        <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                     title="Current height of the blockchain."></i>
        <br>
        <h4>
          <p><span>{{ '{:2,}'.format((blockheight | int)) }}</span></p>
        </h4>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <small>Est.&nbsp;Shares&nbsp;Remaining</small>
        <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                     title="An estimation of the number of difficulty 1 shares remaining until completing a block. This number will be negative if we are unlucky. This is based on an average difficulty of the last 500 blocks, and will change a little as the difficulty changes"></i>
        <br>
        <h4>
          <p><span class="odometer remaining_shares">0</span></p>
        </h4>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <small>Est.&nbsp;Round&nbsp;Time&nbsp;Remaining</small>
        <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                     title="Estimated time remaining until the next block is found. It assumes round luck will be 100% and that difficulty will not change. This number will be negative if we are in an unlucky round."></i>
        <br>
        <h4>
          <p><span class="est_remaining_hours">00</span>:<span class="est_remaining_minutes">00</span>:<span class="est_remaining_seconds">00</span></p>
        </h4>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <small>Total&nbsp;N&nbsp;This&nbsp;Round</small>
        <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                     title="When the round is completed the payout will be based on this number of shares submitted just before the block was completed. This number is calculated based on the expected number of shares to complete a block, and multiplied by two."></i>
        <br>
        <h4>
          <p><span class="total_n">...</span></p>
        </h4>
      </div>
    </div>
  </div>
</div>

<div class="row page-header">
  <h2>Top Users PPLNS Summary <small><i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                     title="All shares to be paid out, based on the Pay Per Last N Share algorithm. If a payout were to occur these would be extremely similar to the stats used to determine who gets paid what."></i>
  <span class="text-muted">- updated {{ cached_time }} UTC</span>
  </small></h2>
  <br>
  <div class="col-lg-12">
    <table class="table table-striped table-hover table-responsive tablesorter" id="roundSummary">
      <thead>
        <tr>
          <th></th>
          <th>User</th>
          <th>Shares Contributed</th>
          <th>Hashrate</th>
          <th>Donation %</th>
        </tr>
      </thead>
      <tbody>
      {% for dat in users %}
        {% if  dat['user'] %}
          {% set name, color = dat['user'] | addr_to_name %}
        {% endif %}
        <tr>
          <th width="10">
            {{ loop.index }}
          </th>
          <th>
            {% if not dat['user'] %}
              Anonymous
            {% else %}
            <a href="/{{ dat['user'] }}"><small><tt>{{ dat['user'] }}</tt></small></a> - <span title="This is a human readable name generated from the address. This allows you to more easily remember different addresses and who they belong to.">{{ name }}</span></th>
            {% endif %}
          <th>{{ '{:,}'.format(dat['shares'] | int) }}</th>
          <th>{{ '{:,}'.format((dat['hashrate'] / 1000) | round(2)) }} KH/s</th>
          <th>{% if donation_perc != None %}{{ '{:0.1f}'.format(dat['donation_perc']) }}%{% else %}-{% endif %} </th>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
