{% extends "base.html" %}
{% set active_page = "set_donation" %}
{% set page_title = "Set Donation - Change your donation amount" %}
{% block head %}
{% endblock %}
{% block body %}

<script>
$(document).ready(function() {
  ZeroClipboard.config( { moviePath: '//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/1.3.3/ZeroClipboard.swf' } );

  var client = new ZeroClipboard($("#copy-button"));
  client.on("complete", function(client, args) {
    $("#copied-notif").show();
    setTimeout(function(){
      $("#copied-notif").fadeOut();
    }, 1000);
  });

  $("#generate").click(function() {
    var feeString = $("#feeAmount").val();
    var fee = parseFloat(feeString);
    if (fee > 100 || fee < {{ config['minimum_perc'] }})
      alert("Fee must be less than 100 and greater than {{ config['minimum_perc'] }}");
    else if (isNaN(fee))
      alert("Must enter a valid number!");
    else {
    $("#message").text("SETFEE " + fee + "\t" + Math.round(new Date().getTime() / 1000) + "\tOnly valid on {{ config['site_title'] }} for " + new Date());
    }
  });
});
</script>

<div class="alert alert-info"><b>Note: </b> There is currently a known bug with IE11. If you're using this browser, please use Firefox or Chrome for the time being until we get it fixed.</div>
<div class="container">
  <div class="row page-header">
    <div class="col-lg-12">
      <h2>How to change your donation percentage</h2>
      <br>
      <ol>
        <li>Type in the % you want to donate as a number.</li>
        <li>Click generate</li>
        <li>Click copy to Clipboard</li>
        <li>Sign the message with your wallet.
          <ul>
            <li>Open up your wallet application</li>
            <li>Open <b>file</b>, click <b>sign message</b></li>
            <li>You'll need to put in <b>your</b> address and paste the message here.
            the screens will look something like <a href="http://imgur.com/a/nUmZ0">these</a> </li>
            <li>Copy the signature, and paste it on our site</li>
          </ul>
        </li>
        <li>Click change, and you're done!</li>
      </ol>
    </div>
    {% if result %}
      <div class="clearfix"></div>
      <div class="alert alert-{{ alert_cls }}">
        <h4 style="margin-bottom: 0px;">{{ result | safe }}</h4>
      </div>
    {% endif %}
    <h2>Current donation percentage: {{ perc }}%</h2>
    <h2 style="word-wrap:break-word;">Set donation For - {{ username }}</h2>
    <br>
    <form role="form" method="POST" action="">
      <div class="form-group">
        <label for="feeAmount">Donation Amount</label>
        <input type="text" class="form-control" id="feeAmount" placeholder="Enter a new donation value">
      </div>
      <button type="button" class="btn btn-success" id="generate">Generate</button>
      <button type="button" class="btn btn-success" id="copy-button" data-clipboard-target="message" title="Click to copy me.">Copy to Clipboard</button>
      <span style="display: none; color:#58CF58; font-weight:500;" id="copied-notif">Copied!</span>
      <div class="form-group">
        <label for="exampleInputEmail1">Message to be signed</label>
        <textarea cols="40" rows="5" class="form-control" name="message" id="message" placeholder="Type a donation percentage into the above textbox and hit generate!"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Signature</label>
        <input type="text" class="form-control" name="signature" placeholder="Paste signature from your wallet">
      </div>
      <button type="submit" class="btn btn-primary">Change!</button>
    </form>
  </div>
</div>

{% endblock %}
