{% extends "base.html" %}
{% set active_page = "stats" %}
{% block body %}
<script>
$(document).ready(function() {
  //  Action stats form based on input val
    $('#statsform').submit(function(){
      var address = $('#inputAddress').val();
      $(this).attr('action', "/" + address);
    });
    
    // Handling of removing address
    $('#statsform button.close').bind('click', function() {
      var jqxhr = $.ajax('/' + $(this).data('address') + '/clear')
      .always(function(data) {
        // Clear recent list
        $('#recent-users').empty();

        // Build updated recent list
        var recent = data.recent;
        $.each(recent, function(index, value) {
          var recentAddress = $('<p>')
          .append(
            $('<button>', {type: 'button', class: 'close', 'data-address': value}).html('×')
          ).append(
            $('<h4>').append(
              $('<a>', {href: '/' + value}).html(value)
            )
          )
          $('#recent-users').append(recentAddress);
        });
      });
    });
});
</script>
<h3>Aren't mining with us yet? <a href="/">Look at the quickstart guide.</a></h3>
<br />
<div class="form-group">
  <form class="bs-example form-horizontal" id="statsform">
    <fieldset>
      <div class="form-group">
        <div class="col-lg-9">
          <input type="text" class="form-control" id="inputAddress" placeholder="Paste your Doge address for quick access to individualized stats.">
          <span class="help-block">
              {% if 'recent_users' in session %}
                <h4>Recently Visited Stats:</h4>
                <div id="recent-users">
                {% for address in session['recent_users'] %}
                  <p>
                    <button type="button" class="close" data-address="{{ address }}">×</button>
                    <h4><a href="/{{ address }}">{{ address }}</a></h4>
                  </p>
                {% endfor %}
                </div>
              {% endif %}
          </span>
        </div>
        <button type="submit" class="btn btn-default">View Stats</button>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
