{% extends "base.html" %}
{% set active_page = "stats" %}
{% set page_title = 'User Stats - Mining and account information for user ' +  username %}
{% block body %}

<script>
$(document).ready(function() {

  {# Initial graph generation #}
  generate_graph('hour', '%H:%M %p', '{{ username }}' );

  {# Generate user stats #}
  setTimeout(function(){
    var hashrate, seconds, mhashpersec, user_shares, est_payout,
        round_reward, shares_to_solve, percentage_value, dogerate, day_shares;

    round_reward = {{ config['reward'] }};
    user_shares = {{ round_shares or 'NaN' }};
    last_10_shares = {{ last_10_shares }};

    {# Calculate est round payout  #}
    shares_to_solve = {{ g.current_difficulty }} * Math.pow(2, 16);
    shares_to_solve = shares_to_solve * 2;
    percentage_value = user_shares / shares_to_solve;
    est_payout = ((percentage_value * round_reward)) * .99;

    {# Calculate mhashes/sec  #}
    seconds = 60000;
    hashrate = Math.pow(2, 16) * last_10_shares;

    {# Calculate est doge per day  #}
    day_shares = (last_10_shares * 60 * 24);
    percentage_value = day_shares / (shares_to_solve/2);
    dogerate = ((percentage_value * round_reward)) * .99;

    mhashpersec = (hashrate / seconds) / 1000;
    setInterval(set_content = function(){
      $('.odometer.hashrate').text(numberWithCommas(Math.round(mhashpersec * 1000) / 1000));
      $('.odometer.usershares').text(numberWithCommas(Math.round(user_shares)));
      $('.odometer.estpayout').text(numberWithCommas(Math.round(est_payout * 1000) / 1000));
      $('.odometer.dogerate').text(numberWithCommas(Math.round(dogerate * 1000) / 1000));
    },1000);

    set_content();

  },1000);

  $('table.worker-table > tbody > tr').bind( "click", function() {
    // row was clicked
    var jqxhr = $.ajax($(this).attr('data-url') )
    .always(function(data) {
      $('pre#modal-json').html(data['output']);
      $('#myModal').modal()
    });
  });

  $('div.collapse-button').bind( "click", function() {
      $(this).text(function(i,old){
          return old=='[ - ]' ?  '[ + ]' : '[ - ]';
      });
  });

});
</script>

<div class="container">
  <div class="row page-header">
    <h2 style="word-wrap:break-word;margin-bottom:2px;">User Stats - {{ username }} </h2>
    <span style="padding-left:15px;">Currently donating {{ donation_perc }}%
      <a style="color:gray;" href="/set_donation/{{ username }}"><i class="fa fa-edit" ></i></a>
    </span><br>
    <br>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <small>PPLN Shares</small>&nbsp;
          <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                       title="Total shares being counted towards your next payout"></i>
          <br><h4><p><span class="odometer usershares">...</span></p></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <small>Est. Round Payout</small>&nbsp;
          <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
             title="Payout estimate based on PPLNS (Last updated {{ pplns_cached_time }}). This estimate will be very close to your actual payout."></i>
          <br><h4><p><span class="odometer estpayout">...</span> &ETH;</p></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <small>Average Hashrate</small>&nbsp;
          <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                       title="Your average hashrate over the last 10 minutes based on your accepted shares, NOT PPAgent."></i>
          <br><h4><p><span class="odometer hashrate">...</span> MHashes/sec</p></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <small>Est. Doge/day</small>&nbsp;
          <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                       title="An estimate based on your hashrate for the last ten minutes, constant mining at that hashrate, and 100% round luck. Your actual payout will fluctuate based on round luck!"></i>
          <br><h4><p><span class="odometer dogerate">...</span> &ETH;</p></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-header">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
          <li class="active tab"><a id="hour" data-target="hour" data-format="%M:%S">Hour</a></li>
          <li class="tab"><a id="day" data-target="day" data-format="%H:%M %p">Day</a></li>
          <li class="tab"><a id="month" data-target="month" data-format="%m/%d %H:%M">Month</a></li>
        </ul>
      <div id="chart" style="height:400px;">
        <img src="/static/img/712.GIF" style="position:absolute;padding-top:150px;padding-left:400px;"><svg></svg>
      </div>
    </div>
  </div>

  <div class="row page-header">
    <h2>Worker Status</h2>
    <br>
    {% for name, dat in workers.iteritems() %}
    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-default" style="background-color:#243749;">
        <div class="panel-heading">
          <h3>
            <i class="fa fa-circle" style="color:{% if dat['online'] %}#5BCE00{% else %}#B12627{% endif %}"
               data-toggle="tooltip" data-placement="right" title="Online"></i>&nbsp;
            {{ name }}
            <span class="pull-right">
            <small class="text-right" style="padding-left:10px;font-weight:300;">Hashrate:
              {{ dat['last_10_hashrate'] | round(3) }} MH/sec &nbsp;
              <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                       title="Average hashrate over the last ten minutes based on accepted shares, NOT PPAgent."></i></small>
            <small class="text-right" style="padding-left:10px;font-weight:300;">Efficiency:
              {% if dat['efficiency'] %}
                {{ dat['efficiency'] | round(2) }}% &nbsp;
              {% else %}
                --
              {% endif %}
              <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                       title="Computed from accepted/total({{ dat['accepted'] }}/{{ ((dat['accepted'] + dat['rejected'])) }}) shares submitted in the last 24 hours"></i></small>
            </span>
          </h3>
          <div class="clearfix"></div>
{#          <h6 style="padding-left:25px;margin:0;"><small>Ping: 23ms</small></h6>#}
        </div>
        <div class="panel-body" style="padding:0px;">
          <div class="table-responsive  bs-component" style="position:relative;padding:9px;">
            <div class="col-xs-6">
              <h4>Accepted Shares: {{ '{:,}'.format(dat['accepted']) }}&nbsp;
                <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                     title="Accepted shares over the last 24 hours"></i></h4>
            </div>
            <div class="col-xs-6">
              <h4>Rejected Shares: {{ '{:,}'.format(dat['rejected']) }}&nbsp;
                <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                     title="Rejected shares over the last 24 hours"></i></h4>
            </div>
            <div class="clearfix"></div>
          </div>
          {# if there are miner status loop through them #}
          {% if dat['status'] %}
          {% set stat = dat['status'] %}
          <div class="table-responsive bs-component worker-table-wrapper">
            <div class="worker-wrapper">
              <b>{{ stat['type'] }} status</b>
            {% if not name %}
              {# Show a warning about unnamed workers #}
              <small style="font-size:14px;color:#ff0000;font-weight:400;">
                Multiple unnamed workers will do wonky things!
              </small>
            {% endif %}
            {% if dat['status_stale'] == True %}
              {# if stale then show a warning #}
              <small colspan="3" style="font-size:14px;color:#EEA236;"> <i>Updated {{ dat['status_time'] | time_ago }}</i></small>
              <div class="btn btn-default btn-sm collapse-button" data-toggle="collapse" data-target="#worker-{{ name }}">
                [ + ]
              </div>
            {% else %}
              {# Not stale - show last updated time #}
              <small colspan="3" style=" font-size:14px;font-weight:300;">
                <i>Updated {{ dat['status_time'] | time_ago }}</i></small>
              <div class="btn btn-default btn-sm collapse-button"
                   data-toggle="collapse" data-target="#worker-{{ name }}">
                [ - ]
              </div>
            {% endif %}
            </div>
            {# Worker's miner stats #}
            <div id="worker-{{ name }}" class="collapse{% if dat['status_stale'] == False %} in{% endif %}">
              <table class="table table-striped table-hover worker-table">
                <thead>
                  <tr>
                    <th>GPU</th>
                    <th>KHash/sec</th>
                    <th>WUE</th>
                    <th>Accepted/Rejected(%)</th>
                    <th>HW Errors</th>
                    <th>Temperature</th>
                    <th>Fan Speed</th>
                    <th>Core/Memory Clock</th>
                  </tr>
                </thead>
                <tbody>
                {% for gpu in stat['gpus'] %}
                  <tr data-url="/{{ username }}/{{ name }}/details/{{ loop.index0 }}">
                    <th>{{ loop.index0 }}</th>
                    <th {% if (gpu.get('MHS av', 0)*1000) == 0 %}class="warning"{% endif %}>
                      {{ (gpu.get('MHS av', 0)*1000)|round|int }}
                    </th>
                    <th>
                      {% if ( (gpu.get('Utility', 0))*(gpu.get('Last Share Difficulty', 0)) ) == 0
                      or (gpu.get('MHS av', 0.0001) == 0) %}
                      -/-
                      {% else %}
                      {{ ( ((gpu.get('Utility', 0)*(gpu.get('Last Share Difficulty', 0))) /
                    (gpu.get('MHS av', 0.0001)*1000) ) * 100 ) | round(1) }}%</th>
                    {% endif %}
                    {% set accepted = gpu.get('Difficulty Accepted', 0) %}
                    <th>
                      {{ '{:,}'.format(accepted|int) }} / {{ '{:,}'.format(gpu.get('Difficulty Rejected', 0)|int) }}
                      {% if accepted != 0 %}
                        &nbsp;({{ ((accepted - gpu.get('Rejected', 0)) / accepted)*100 }}%)
                    {% else %}
                      (0)
                    {% endif %}
                    </th>
                    <th>{{ gpu.get('Hardware Errors', 0) }}</th>
                    <th {% if gpu.get('temp', 0) > 90 %}class="danger"{% endif %}>{{ gpu.get('temp', 0) }}</th>
                    <th>{{ gpu.get('Fan Percent', 0) }}%</th>
                    <th>{{ gpu.get('GPU Clock', 0) }}/{{ gpu.get('Memory Clock', 0) }}</th>
                  </tr>
                {% endfor %}
                  <tr>
                    <th colspan="8" style="text-align:left;">
                      <small>Running PPAgent v{{ stat.get('v', '0.2') }}</small>&nbsp;
                      {% if dat['status_version'] < latest_ppagent %}
                        {# Notice about out of date ppagent #}
                        <a href="https://github.com/icook/ppagent#upgrade">
                          <small style="color:#FFD600;font-weight:400;">
                            Newer version available here
                          </small>
                        </a>&nbsp;&nbsp;
                      {% endif %}
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          {% else %}
          {# No recorded workers, suggest using PPAgent           #}
          <div class="worker-wrapper">
            <small>
            Setup <a href="http://www.github.com/icook/ppagent/">PPAgent</a> to start reporting cgminer stats directly
            </small>
          </div>

          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="row row-header">
    <h2>Account<small class="text-muted">- Currently donating {{ donation_perc }}%
      <a style="color:gray;" href="/set_donation/{{ username }}"><i class="fa fa-edit" ></i></a>
    </small></h2>
    <br>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <small>Balance</small>&nbsp;
          <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                       title="Current unpaid balance not including bonus payouts"></i>
          <br><h4><p>{{ '{:8,}'.format(balance / 100000000) }} &ETH;</p></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <small>Unconfirmed balance</small>&nbsp;
          <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                       title="Newly solved block earnings, rewards not yet confirmed. Doesn't including bonus payouts"></i>
          <br><h4><p>{{ '{:8,}'.format(unconfirmed_balance / 100000000) }} &ETH;</p></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <small>Total earned</small>&nbsp;
          <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                       title="Total ever earned by this address from mining. No bonus payments included."></i>
          <br><h4><p>{{ '{:2,}'.format((total_earned / 100000000) | round(2)) }} &ETH;</p></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <small>Total paid</small>&nbsp;
          <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                       title="Total paid out to this address from mining. Bonus payments are included in this amount.">
          </i>
          <br><h4><p>{{ '{:2,}'.format((total_paid / 100000000) | round(2)) }} &ETH;</p></h4>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    {% if acct_items %}
    <div class="col-lg-12">
      <div class="bs-example table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Time</th>
              <th>Shares Contributed</th>
              <th>Mined</th>
              <th>Donation %</th>
              <th>Donation/Bonus</th>
              <th>Total paid</th>
              <th>Blockheight</th>
              <th>TX id</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in acct_items %}
              {% if obj.__tablename__ == 'payout' %}
                {% set payout = obj %}
                {# Set some vars for easy table printing #}
                {% if payout.perc < 0 %}
                  {% set type = 'bonus' %}
                  {% set maths = payout.perc_applied * -1 %}
                  {% set perc_applied = payout.perc_applied * -1 %}
                {% elif payout.perc == 0 %}
                  {% set maths = payout.perc_applied %}
                  {% set type = '' %}
                  {% set perc_applied = 0.0 %}
                {% else %}
                  {% set type = 'donation' %}
                  {% set maths = payout.perc_applied * -1 %}
                  {% set perc_applied = payout.perc_applied %}
                {% endif %}
                <tr>
                  <th>{{ payout.created_at | time_ago }}</th>
                  <th>{{ '{:,}'.format(payout.shares) }}</th>
                  <th>{{ '{:,}'.format(((payout.amount - maths) / 100000000) | round(2)) }}</th>
                  <th>{{ '{:,}'.format(payout.perc) }}%</th>
                  <th>{{ type  }}{{ ' {:,}'.format((perc_applied / 100000000) | round(2)) }}</th>
                  <th>{{ '{:,}'.format((payout.amount / 100000000) | round(2)) }}</th>
                  <th>{{ '{:,}'.format(payout.block.height) }}</th>
                  <th>{% if payout.transaction_id %}
                    <a href="https://dogechain.info/tx/{{ payout.transaction_id }}" target="_blank">{{ payout.transaction_id | truncate(15, True) }}</a>
                    {% endif %}
                  </th>
                  <th>
                    {% if payout.transaction_id %}
                      {% if payout.transaction.confirmed == True %}
                        Confirmed
                      {% else %}
                        Unconfirmed
                      {% endif %}
                    {% else %}
                      -
                    {% endif %}</th>
                </tr>
              {% else %}
                <tr>
                  <th>{{ obj.created_at | time_ago }}</th>
                  <th colspan="4"><span style="color:#2ca02c;">Bonus:</span> {{ obj.description }}</th>
                  <th colspan="2">{{ '{:,}'.format(obj.amount / 100000000 | round(2)) }}</th>
                  <th>{% if obj.transaction_id %}
                    <a href="https://dogechain.info/tx/{{ obj.transaction_id }}" target="_blank">{{ obj.transaction_id | truncate(15, True) }}</a>
                    {% endif %}
                  </th>
                  <th>
                    {% if obj.transaction_id %}
                      {% if obj.transaction.confirmed == True %}
                        Confirmed
                      {% else %}
                        Unconfirmed
                      {% endif %}
                    {% else %}
                      -
                    {% endif %}</th>
                </tr>
              {% endif %}
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
    {% else %}
    <div class="text-center"><h3>No payouts for this user yet</h3></div>
    {% endif %}
  </div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">GPU Details</h4>
      </div>
      <div class="modal-body">
        <pre id="modal-json"></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
