{% extends "base.html" %}
{% set active_page = "stats" %}
{% block body %}

<script>
$(document).ready(function() {

  {# Initial graph generation #}
  generate_graph('hour', '%H:%M %p', '{{ username }}' );

  {# Generate user stats #}
  setTimeout(function(){
    var hashrate, seconds, mhashpersec, user_shares, est_payout,
        round_reward, shares_to_solve, percentage_value, dogerate, day_shares;

    round_reward = {{ round_reward }};
    user_shares = {{ user_shares }};

    {# Calculate est round payout  #}
    shares_to_solve = {{ g.current_difficulty }} * Math.pow(2, 16);
    percentage_value = user_shares / shares_to_solve;
    est_payout = ((percentage_value * round_reward)) * .99;

    {# Calculate mhashes/sec  #}
    seconds = 60000;
    hashrate = Math.pow(2, 16) * window.last_10min;

    {# Calculate est doge per day  #}
    day_shares = (window.last_10min * 60 * 24);
    percentage_value = day_shares / shares_to_solve;
    dogerate = ((percentage_value * round_reward)) * .99;

    mhashpersec = (hashrate / seconds) / 1000;
    setInterval(function(){
      $('.odometer.hashrate').text(Math.round(mhashpersec * 1000) / 1000);
      $('.odometer.usershares').text(Math.round(user_shares));
      $('.odometer.estpayout').text(Math.round(est_payout * 1000000) / 1000000);
      $('.odometer.dogerate').text(Math.round(dogerate * 1000) / 1000);
    },1000);

  },1000);

  $('table.worker-table > tbody > tr').bind( "click", function() {
    // row was clicked
    var jqxhr = $.ajax($(this).attr('data-url') )
    .always(function(data) {
      $('pre#modal-json').html(data['output']);
      $('#myModal').modal()
    });
  });

  $('div.collapse-button').bind( "click", function() {
      $(this).text(function(i,old){
          return old=='[ - ]' ?  '[ + ]' : '[ - ]';
      });
  });

});
</script>

<div class="container">
  <div class="row page-header">
    <h2 style="word-wrap:break-word;">User Stats - {{ username }}</h2>
    <br>
    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <small>Round Shares:</small>&nbsp;
          <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                       title="Total shares sumbitted this round"></i>
          <br><h4><p><span class="odometer usershares">...</span></p></h4>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <small>Est round payout:</small>&nbsp;
          <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                       title="Payout estimate based on PPS (the pool pays out in PPLNS! This is just a estimate),
                        assumes a 250k reward"></i>
          <br><h4><p><span class="odometer estpayout">...</span> &ETH;</p></h4>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <small>10 min hashrate:</small>
          <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                       title="Your average hashrate over the last 10 minutes"></i>
          <br><h4><p><span class="odometer hashrate">...</span> MHashes/sec</p></h4>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <small>Doge/day (Est. from 10 min hashrate):</small>
          <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                       title="Daily payout estimate based on a 250k reward and 100% round luck. Actual payout will be different!"></i>
          <br><h4><p><span class="odometer dogerate">...</span> &ETH;</p></h4>
        </div>
      </div>
    </div>
  </div>
  {% if statuses %}
  <div class="row page-header">
    <h2>Worker Status</h2>
    <br>
    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
      {% for st in statuses %}
        <div class="table-responsive  bs-component" style="position:relative;">
          <div class="well well-sm" style="margin-bottom:5px;">
            <b>{{ st.worker }}</b>
          {% if not st.worker %}
            {# Show a warning about unnamed workers #}
            <small style="font-size:14px;color:#ff0000;font-weight:400;">
              Multiple unnamed workers will do wonky things!
            </small>
          {% endif %}
          {% if st.stale == True %}
            {# if stale then show a warning + toggle button #}
            <small colspan="3" style="font-size:14px;color:#EEA236;"> last reported in {{ st.time | time_ago }}!</small>
            <div class="btn btn-primary btn-xs collapse-button" data-toggle="collapse" data-target="#demo{{ loop.index0 }}">
              [ + ]
            </div>
          {% else %}
            <small colspan="3" style=" font-size:14px;font-weight:300;"> <i>Updated {{ st.time | time_ago }}</i></small>
          {% endif %}
          </div>
            {# Worker's miner stats #}
            <div id="demo{{ loop.index0 }}" class="collapse{% if st.stale == False %} in{% endif %}">
              <table class="table table-striped table-hover worker-table">
                <thead>
                  <tr>
                    <th>GPU</th>
                    <th>KHash/sec</th>
                    <th>WUE</th>
                    <th>Accepted/Rejected(%)</th>
                    <th>HW Errors</th>
                    <th>Temperature</th>
                    <th>Fan Speed</th>
                    <th>Core/Memory Clock</th>
                  </tr>
                </thead>
                <tbody>
                {% for gpu in st.parsed_status['gpus'] %}
                  <tr data-url="/{{ username }}/{{ st.worker }}/details/{{ loop.index0 }}">
                    <th>{{ loop.index0 }}</th>
                    <th {% if (gpu.get('MHS av', 0)*1000) == 0 %}class="warning"{% endif %}>{{ (gpu.get('MHS av', 0)*1000)|round|int }}</th>
                    <th>{% if ( (gpu.get('Utility', 0))*(gpu.get('Last Share Difficulty', 0)) ) == 0 or (gpu.get('MHS av', 0.0001) == 0) %}
                      -/-
                      {% else %}
                      {{ ( ((gpu.get('Utility', 0)*(gpu.get('Last Share Difficulty', 0))) /
                    (gpu.get('MHS av', 0.0001)*1000) ) * 100 ) | round(1) }}%</th>
                    {% endif %}
                    {% set accepted = gpu.get('Accepted', 0) %}
                    <th>
                      {{ accepted }} / {{ gpu.get('Rejected', 0) }}
                      {% if accepted != 0 %}
                        &nbsp;({{ ((accepted - gpu.get('Rejected', 0)) / accepted)*100 }}%)
                    {% else %}
                      (0)
                    {% endif %}
                    </th>
                    <th>{{ gpu.get('Hardware Errors', 0) }}</th>
                    <th {% if gpu.get('temp', 0) > 90 %}class="danger"{% endif %}>{{ gpu.get('temp', 0) }}</th>
                    <th>{{ gpu.get('Fan Percent', 0) }}%</th>
                    <th>{{ gpu.get('GPU Clock', 0) }}/{{ gpu.get('Memory Clock', 0) }}</th>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
</div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <div class="row row-header">
    <div class="col-lg-10 col-lg-offset-1">
        <ul class="nav nav-tabs">
          <li class="active tab"><a id="hour" data-target="hour" data-format="%M:%S">Hour</a></li>
          <li class="tab"><a id="day" data-target="day" data-format="%H:%M %p">Day</a></li>
          <li class="tab"><a id="month" data-target="month" data-format="%m/%d %H:%M">Month</a></li>
        </ul>
      <div id="chart" style="height:400px;">
        <img src="/static/img/712.GIF" style="position:absolute;padding-top:150px;padding-left:400px;"><svg></svg>
      </div>
    </div>
  </div>

  <div class="row row-header" style="padding-top:50px;">
    <h2>Account</h2>
    <br>
    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <small>Balance:</small>
          <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                       title="Current unpaid balance"></i>
          <br><h4><p>{{ balance / 100000000 }} &ETH;</p></h4>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <small>Unconfirmed balance:</small>
          <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                       title="Newly solved block earnings, rewards not yet confirmed"></i>
          <br><h4><p>{{ unconfirmed_balance / 100000000 }} &ETH;</p></h4>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <small>Total earned:</small>
          <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                       title="Total ever earned by this address"></i>
          <br><h4><p>{{ (total_earned / 100000000)|round(2) }} &ETH;</p></h4>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <small>Total paid:</small>
          <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                       title="Total paid out to this address"></i>
          <br><h4><p>{{ (total_paid / 100000000)|round(2)}} &ETH;</p></h4>
        </div>
      </div>
    </div>
    {% if payouts %}
    <div class="col-lg-12">
      <div class="bs-example table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Time</th>
              <th>Shares Contributed</th>
              <th>Amount Earned</th>
              <th>Blockheight</th>
              <th>TX id</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for payout in payouts %}
            <tr>
              <th>{{ payout.block.found_at | time_ago }}</th>
              <th>{{ payout.shares }}</th>
              <th>{{ payout.amount/100000000|round(2) }}</th>
              <th>{{ payout.block.height }}</th>
              <th><a href="https://dogechain.info/tx/{{ payout.transaction_id}}" target="_blank">{{ payout.transaction_id|truncate(15, True) }}</a></th>
              <th>{% if payout.transaction.confirmed == True %}Confirmed {% else %} Unconfirmed{% endif %}</th>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
    {% else %}
    <div class="text-center"><h3>No payouts for this user yet</h3></div>
    {% endif %}
  </div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">GPU Details</h4>
      </div>
      <div class="modal-body">
        <pre id="modal-json"></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
