{% extends "base.html" %}
{% set active_page = "stats" %}
{% set page_title = 'User Stats - Mining and account information for user ' +  username %}
{% block body %}
<script>
  {# Initial graph generation #}
  generate_worker_graph('temp-chart', 'hour', '%H:%M %p', '{{ username }}', '{{ worker }}', 'temp');

  generate_worker_graph('hash-chart', 'hour', '%H:%M %p', '{{ username }}', '{{ worker }}', 'hash');

</script>
<div class="container">
  <div class="row page-header">
    <h2 style="word-wrap:break-word;margin-bottom:2px;">Worker Stats - {{ worker }} </h2>
  </div>
  <div class="row row-header">
    <h2>Temperature History</h2>
    <br>
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
          <li class="active tab">
            <a id="hour" data-target="hour" data-format="%M:%S" data-user="{{ username }}"
               data-worker="{{ worker }}" data-stat-type="temp" data-html-target="temp-chart">Hour</a></li>
          <li class="tab">
            <a id="day" data-target="day" data-format="%H:%M %p" data-user="{{ username }}"
               data-worker="{{ worker }}" data-stat-type="temp" data-html-target="temp-chart">Day</a></li>
          <li class="tab">
            <a id="month" data-target="month" data-format="%m/%d %H:%M" data-user="{{ username }}"
               data-worker="{{ worker }}" data-stat-type="temp" data-html-target="temp-chart">Month</a></li>
        </ul>
      <div id="temp-chart" style="height:400px;">
        <img src="/static/img/712.GIF" style="position:absolute;padding-top:150px;padding-left:400px;"><svg></svg>
      </div>
    </div>
  </div>
  <div class="row row-header">
    <h2>Hashrate History</h2>
    <br>
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
          <li class="active tab">
            <a id="hour" data-target="hour" data-format="%M:%S" data-user="{{ username }}"
               data-worker="{{ worker }}" data-stat-type="hash" data-html-target="hash-chart">Hour</a></li>
          <li class="tab">
            <a id="day" data-target="day" data-format="%H:%M %p" data-user="{{ username }}"
               data-worker="{{ worker }}" data-stat-type="hash" data-html-target="hash-chart">Day</a></li>
          <li class="tab">
            <a id="month" data-target="month" data-format="%m/%d %H:%M" data-user="{{ username }}"
               data-worker="{{ worker }}" data-stat-type="hash" data-html-target="hash-chart">Month</a></li>
        </ul>
      <div id="hash-chart" style="height:400px;">
        <img src="/static/img/712.GIF" style="position:absolute;padding-top:150px;padding-left:400px;"><svg></svg>
      </div>
    </div>
  </div>
</div>
{% endblock %}